<div>
  <button class="d8p-handburger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
    <mat-icon>
      <svg width="25" height="45">
        <path d="M0,3 25,3" stroke="#fff" stroke-width="3" />
        <path d="M0,12 25,12" stroke="#fff" stroke-width="3" />
        <path d="M0,21 25,21" stroke="#fff" stroke-width="3" />
      </svg>
    </mat-icon>
  </button>
  <!-- Nav block - start -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list>
        <app-matsidenav></app-matsidenav>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Nav block - end -->
    <mat-sidenav-content fxFlexFill>
      <div class="container-fluid p-0">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="dashboard-header-box">
              <app-dashboard-header></app-dashboard-header>
            </div>
          </div>
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="dashboard-content-box pb-5">
              <!-- Quick links -->
              <div class="container-fluid quicklinkbg">
                <div class="row no-gutters">
                  <div class="col-12">
                    <div class="container-fluid p-0 menu-grid">
                      <div class="row no-gutters justify-content-center">
                        <div class="col-12 col-xl-9 titlebg">
                          GOVERNMENT ID
                        </div>
                      </div>
                      <div class="row no-gutters mt-2 mt-xl-4 pb-xl-4 mb-3 mb-xl-5">
                        <div class="col-3 flex-align-center flex-column border-right-white mt-2">
                          <div class="height-60 text-center"><img class="max-width-60"
                              src="assets/icons-img/id-verify.png" /></div>
                        </div>
                        <div class="col-9 pl-3 color-white font-size-15 mt-3">
                          This process is to verify your account.
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row no-gutters">
                  <div class="col-12">
                    <div class="container-fluid p-0 menu-grid">
                      <div class="row no-gutters justify-content-center">

                        <!-- FORM -->
                        <form>

                          <div class="form-group">
                            <label class="idVerify">Government ID:</label>
                            <input id="idVerify" type="text" placeholder="801202XXXXXX" class="form-control" required
                              [(ngModel)]="idVerifyNo" name="idVerify" #idVerify="ngModel">
                            <div class="alert alert-danger" *ngIf="idVerify.touched && ! idVerify.valid">Fill in your
                              Government ID</div>
                          </div>

                          <div class="form-group">
                            <label for="idVerify">Proof of Government ID</label>
                            <form>
                              Front view of ID:
                              <img [src]="urlFront" id="frontId" style="height: 250px; width: 250px;">
                              <input type="file" accept="image/*" capture (change)="onSelectedFileF($event)"><br>
                              Back view of ID:
                              <img [src]="urlBack" id="backId" style="height: 250px; width: 250px;">
                              <input type="file" accept="image/*" capture (change)="onSelectedFileB($event)"><br>
                              Selfie image with passport format holding ID:
                              <img [src]="urlSelfie" id="selfieId" style="height: 250px; width: 250px;">
                              <input type="file" accept="image/*" capture (change)="onSelectedFileSelfie($event)"><br>
                            </form>
                          </div>

                          
                        </form>
                        

                      </div>
                    </div>
                  </div>
                    <!-- Confirmation -->
                    <div class="row no-gutters justify-content-center">
                      <div class="col-12">
                        <div class="button-container text-center mt-2">
                          <a class="d8p-btn-default mt-3 margin-left-56" (click)="doRoute()">
                            <div class="--text">Confirm</div>
                            <div class="--icon"><img class="p-1 max-width-30-px" src="assets/icons-img/tick-only-signup@2x.png" /></div>
                          </a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>





            </div>

          </div>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>