<div>
  <!-- Handburger Start -->
  <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
  <label class="handburger" for="myInput">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </label>
  <!-- Handburger End -->
  <!-- Nav block - start -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list>
        <app-matsidenav></app-matsidenav>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Nav block - end -->
    <mat-sidenav-content fxFlexFill>
      <div class="container-fluid p-0">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="id-dashboardheader">
              <!-- Dashboard Header Start -->
              <div class="container-fluid">
                <div class="row no-gutters">
                  <div class="col-8">
                    <div class="dashboard-header">
                      <div class="text-left">
                        <div class="headergoldbox d-flex headerGoldboxPosition">
                          <div class="white-line"></div>
                          <div class="gram-txt">
                            <div class="goldWhole pt-2">{{ goldWhole }}.</div>
                            <div class="goldFraction">{{ goldFraction }} g</div>
                          </div>
                          <div class="half-gold"></div>
                        </div>
                      </div>
                      <div class="text-center">
                        <img class="d8plogo" src="assets/icons-img/dahsboard-header-d8plogo@3x.png"
                          routerLink="/dashboard" style="z-index: 2;" />
                      </div>
                      <div>
                        <img class="dashboard-bell" src="assets/icons-img/notification-off-icon@2x.png"
                          routerLink="/recent-transactions" />
                      </div>
                    </div>
                    <div class="col-4"></div>
                  </div>
                  <img class="max-width-100" src="assets/icons-img/linegrey1.png" />
                </div>
                <!-- Dashboard Header End -->
              </div>
            </div>
          </div>
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="id-contentbox pb-5">
              <div class="id-body">
                <div class="container-fluid p-0 menu-grid">
                  <div class="modal-title text-center mb-2" style="height: 50px;">
                    National/Government Id
                  </div>
                  <form>
                    <div class="text-center mt-2 mb-2">
                      Front view of ID
                    </div>
                    <div class="upload-part">
                      <img [src]="urlFront" id="frontId"
                        style="height: 65px; width: 97px; position:absolute; left: 70px; margin-top: 20px;">
                        <!-- <input type="file" accept="image/*" capture (change)="onSelectedFileF($event)" style="position: absolute; left: 175px; margin-top:30px;"> -->
                      <div class="upload-button">
                        <input type="file" accept="image/*" capture (change)="onSelectedFileF($event)" />
                        <label class="snap-btn">Snap Photo</label>
                      </div>
                    </div>
                    <div class="text-center mt-2 mb-2" style="height: 40px;">
                      Back view of ID
                    </div>
                    <div class="upload-part">
                      <img [src]="urlBack" id="backId"
                        style="height: 65px; width: 97px; position:absolute; left: 70px; margin-top: 20px;">
                        <!-- <input type="file" accept="image/*" capture (change)="onSelectedFileB($event)" style="position: absolute; left: 175px; margin-top:30px;"> -->
                        <div class="upload-button">
                          <input type="file" accept="image/*" capture (change)="onSelectedFileB($event)" />
                          <label class="snap-btn">Snap Photo</label>
                        </div>
                    </div>
                    <div class="text-center mt-2 mb-2" style="height: 40px;">
                      Selfie image with passport format holding ID
                    </div>
                    <div class="upload-part">
                      <img [src]="urlSelfie" id="selfieId"
                        style="height: 65px; width: 60px; position:absolute; left: 88px; margin-top: 20px;">
                        <div class="upload-button">
                          <input type="file" accept="image/*" capture (change)="onSelectedFileSelfie($event)" />
                          <label class="snap-btn">Snap Photo</label>
                        </div>
                    </div>
                    <div class="tnc">
                      <div class="d-flex flex-row justify-content-center align-items-center">
                        <input type="checkbox" id="checkAgree" class="tnc-checkbox ml-2" (click)="enableConfirm()"/>
                        <div class="d8p-tnc-text ml-2 justify-content-center text-left">
                          I hereby acknowledge that all data provided<br>above is correct and genuine.
                        </div>
                      </div>
                    </div>
                  </form>


                </div>
                <!-- Confirmation -->
                <div class="row no-gutters justify-content-center">
                    <div class="col-12">
                      <div class="button-container text-center mt-2" style="height: 120px;">
                        <button class="d8p-btn-default mt-3 margin-left-95" (click)="doRoute()" id="btnConfirm" disabled>
                          <div class="--text">Confirm</div>
                          <div class="--icon"><img class="p-1 max-width-30-px"
                              src="assets/icons-img/tick-only-signup@2x.png" /></div>
                        </button>
                      </div>
                    </div>
                  </div>
                  


              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>