<div>
    <button class="d8p-handburger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>
        <svg width="25" height="45">
          <path d="M0,3 25,3" stroke="#fff" stroke-width="3"/>
          <path d="M0,12 25,12" stroke="#fff" stroke-width="3"/>
          <path d="M0,21 25,21" stroke="#fff" stroke-width="3"/>
      </svg>
      </mat-icon>
    </button>
    <!-- Nav block - start -->
      <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" position="end">
          <mat-nav-list>
            <app-matsidenav></app-matsidenav>
          </mat-nav-list>
        </mat-sidenav>
        <!-- Nav block - end -->
        <mat-sidenav-content fxFlexFill>
          <div class="container-fluid p-0">
            <div class="row no-gutters justify-content-center">
              <div class="col-12 col-xl-9">
                <div class="dashboard-header-box">
                  <app-dashboard-header></app-dashboard-header>
                </div>
              </div>
            </div>
            
            <div class="row no-gutters justify-content-center">
              <div class="col-12 col-xl-9"> 
                <div class="dashboard-content-box">
                  <!-- Transfer -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Recent Transactions
                            </div>
                          </div>
                          <div class="row no-gutters mt-2 mb-4">
                            <div class="col-12">
                                <div class="d8p-transaction-list">
                                    <ul *ngFor = "let trxlist of transactionList">
                                        <li>
                                            <div class="d8p-h6 font-weight-bold">{{trxlist.date | date}}</div>
                                            <ul class="d8p-txn">
                                                <li>
                                                    <div class="container-fluid p-0">
                                                        <div class="row no-gutters">
                                                            <div class="col-2">
                                                                <img src='assets/icons-img/dollar-icon-green.svg' />
                                                            </div>
                                                            <div class="col-8">
                                                                <div class="d8p-normal-text font-weight-bold color-black">{{trxlist.transferType.name}}</div>
                                                                <div class="d8p-normal-text overflow-dots">{{trxlist.transferType.from.currency.name}} {{trxlist.amount | number : '1.2-2'}} {{ trxlist.description }}</div>
                                                                <!-- <div class="d8p-normal-text overflow-dots" *ngIf="trxlist.transferType.name == 'Debit to member'">{{trxlist.transferType.from.currency.name}} {{trxlist.amount | number : '1.2-2'}} has been credited into your account : {{ trxlist.description }}</div> -->
                                                                <!-- <div class="d8p-normal-text overflow-dots" *ngIf="trxlist.transferType.name == 'External trade transfer' || trxlist.transferType.name == 'Trade transfer'">{{trxlist.transferType.from.currency.name}} {{trxlist.amount * -1 | number : '1.2-2'}} has been debited from your account, Trasaction info - {{ trxlist.description }}</div> -->
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="d8p-smaller-text font-weight-bold text-right whitespace-nowrap">{{trxlist.date | date:"h:mm a"}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </li>                                        
                                    </ul>
                                </div>
                                
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>
</div>