<div>
  <button
    class="d8p-handburger"
    mat-icon-button
    (click)="sidenav.toggle()"
    fxShow="true"
    fxHide.gt-sm
  >
    <mat-icon>menu</mat-icon>
  </button>
  <!-- Nav block - start -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list>
        <app-matsidenav></app-matsidenav>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Nav block - end -->
    <mat-sidenav-content fxFlexFill>
      <div class="container-fluid p-0">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="dashboard-header-box">
              <app-dashboard-header></app-dashboard-header>
            </div>
          </div>
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="dashboard-content-box pb-5">
              <!-- Buy near top-view -->
              <app-buynear-top-view></app-buynear-top-view>
              <!-- Shopping Cart -->
              <div class="container-fluid">
                <div class="row no-gutters justify-content-center">
                  <div class="col-12 col-xl-9">
                    <div class="container-fluid p-0 menu-grid">
                      <div class="row no-gutters justify-content-center">
                        <div class="col-12 col-xl-9 titlebg">
                          Shopping Cart
                        </div>
                      </div>
                      <div class="row no-gutters justify-content-center mt-3 mb-3">
                        <div class="col-12 col-xl-9">
                          <div class="row no-gutters">
                            <div class="col-9">
                              <div>
                                <img class="max-width-40 p-1 border-darkgrey-slim border-radius-16" src="../../../assets/icons-img/logo99speedmart1.png" />
                              </div>
                              <div class="mt-1 font-size-13 font-arial color-cyan">
                                Nestle Bliss - Yogurt Drink 100g X 1
                              </div>
                            </div>
                            <div class="col-3 d-flex justify-content-end flex-column">
                              <div class="text-right">
                                <img class="wh-20-20" src="../../../assets/icons-img/icon-close2.png" />
                              </div>
                              <div class="mt-1 font-size-13 font-arial text-right">
                                RM 4.50
                              </div>
                            </div>
                          </div>
                          <img class="max-width-100" src="assets/icons-img/linegrey1.png"
                          />
                        </div>
                      </div>

                      <div class="row no-gutters justify-content-center mt-3 mb-3">
                        <div class="col-12 col-xl-9">
                          <div class="row no-gutters">
                            <div class="col-9">
                              <div>
                                <img class="max-width-40 p-1 border-darkgrey-slim border-radius-16" src="../../../assets/icons-img/logo99speedmart1.png" />
                              </div>
                              <div class="mt-1 font-size-13 font-arial color-cyan">
                                Nestle Bliss - Yogurt Drink 100g X 1
                              </div>
                            </div>
                            <div class="col-3 d-flex justify-content-end flex-column">
                              <div class="text-right">
                                <img class="wh-20-20" src="../../../assets/icons-img/icon-close2.png" />
                              </div>
                              <div class="mt-1 font-size-13 font-arial text-right">
                                RM 4.50
                              </div>
                            </div>
                          </div>
                          <img class="max-width-100" src="assets/icons-img/linegrey1.png"
                          />
                        </div>
                      </div>

                      <div class="row no-gutters justify-content-center mt-3 mb-3">
                        <div class="col-12 col-xl-9">
                          <div class="row no-gutters">
                            <div class="col-9">
                              <div>
                                <img class="max-width-40 p-1 border-darkgrey-slim border-radius-16" src="../../../assets/icons-img/logo99speedmart1.png" />
                              </div>
                              <div class="mt-1 font-size-13 font-arial color-cyan">
                                Nestle Bliss - Yogurt Drink 100g X 1
                              </div>
                            </div>
                            <div class="col-3 d-flex justify-content-end flex-column">
                              <div class="text-right">
                                <img class="wh-20-20" src="../../../assets/icons-img/icon-close2.png" />
                              </div>
                              <div class="mt-1 font-size-13 font-arial text-right">
                                RM 4.50
                              </div>
                            </div>
                          </div>
                          <img class="max-width-100" src="assets/icons-img/linegrey1.png"
                          />
                        </div>
                      </div>

                      <!-- Total -->
                      <div class="row no-gutters justify-content-center mt-3 mb-3">
                        <div class="col-12 col-xl-9">
                          <div class="row no-gutters justify-content-end">
                            <div class="col-6">
                              <div class="d8p-h6 font-arial text-right font-weight-bold">
                                TOTAL : RM 13.50
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>
              </div>

              <!-- Checkout -->
              <div class="container-fluid">
                <div class="row no-gutters justify-content-center">
                  <div class="col-12 col-xl-9">
                    <div class="container-fluid p-0 menu-grid">
                      <div class="row no-gutters justify-content-center">
                        <div class="col-12 col-xl-9 titlebg">Checkout</div>
                      </div>
                      <div
                        class="row no-gutters justify-content-center mt-4 mb-4"
                      >
                        <div class="col-10">
                          <div class="button-container text-center">
                            <button
                              class="d8p-btn-default"
                              routerLink="/buynear-qr-code"
                            >
                              Checkout
                              <span class="ml-2"
                                ><img
                                  class="p-1 max-width-25-px"
                                  src="assets/icons-img/icon-correct2.png"
                              /></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
