<div>
    <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
    <label class="handburger" for="myInput">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
    </label>
    <!-- Nav block - start -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" position="end">
        <mat-nav-list>
          <app-matsidenav></app-matsidenav>
        </mat-nav-list>
      </mat-sidenav>
      <!-- Nav block - end -->
      <mat-sidenav-content fxFlexFill>
        <div class="container-fluid p-0">
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="dashboard-header-box" *ngIf="!isMerchant">
                <app-dashboard-header></app-dashboard-header>
              </div>
            </div>
          </div>
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="dashboard-header-box" *ngIf="isMerchant">
                <app-split-header></app-split-header>
              </div>
            </div>
          </div>
  
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="dashboard-content-box pb-5">
                <!-- Quick links -->
                <div class="container-fluid quicklinkbg">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            REDEEM
                          </div>
                        </div>
                        <div class="row no-gutters mt-2 mt-xl-4 pb-xl-4 mb-3 mb-xl-5">
                          <div class="col-3 flex-align-center flex-column border-right-white mt-3">
                            <div class="height-60 text-center"><img class="max-width-60"
                                src="assets/icons-img/quicklinks-transfer@3x.png" /></div>
                          </div>
                          <div class="briefDescription col-9 pl-3">
                            Gold residing in my D-8P Acc. Gold e-Wallet will be redeemed as physical Gold coin at a D-8P
                            Gold Redemption Centre
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form novalidate #form="ngForm">
                  <!-- Amount -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Gold Amount (Multiple of {{redeemCurrent}})
                            </div>
                          </div>
                          <div class="formPlaceholder row no-gutters justify-content-center mt-4 mb-4">
                            <div class="col-10" style="text-align: center;">
                              <input class="d8p-form select-redemption" placeholder="Ex: 8.5g" type="number"
                                name="amount-gold" [(ngModel)]="amountRedeem" required />
                            </div>
                          </div>
                          <!-- <input type="number" name="amount-gold" placeholder="0" value="{{this.counterValue}}" [(ngModel)]="amountRedeem"/>
                          <button (click)="increment()">+</button>
                          <button (click)="decrement()">-</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Redemption Service Provider-->
                  <div class="container-fluid fifthbg">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                                Redemption Service Provider
                            </div>
                          </div>
                          <div class="redemption">
                            <select (change)="redemptionCenter()" class="select-redemption grey-gradient" placeholder="Redemption Service Provier" name="Service" [(ngModel)]="serviceRedeem" required>
                              <option >Select Service Provider</option>
                              <!-- <option *ngFor="let bank of banks" [value]="bank.id" >
                                {{bank.name}}
                              </option> -->
                              <option *ngFor="let redeem of redeemProvider" [value]="redeem.id"> {{redeem.name}} </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Redemption Centre-->
                  <div class="container-fluid fifthbg">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                                Redemption Centre
                            </div>
                          </div>
                          <div class="redemption">
                            <select class="select-redemption grey-gradient" placeholder="" name="Centre" [(ngModel)]="centreRedeem"  required>
                              <option value="null" disabled>Select Centre</option>
                              <!-- <option *ngFor="let bank of banks" [value]="bank.id" >
                                {{bank.name}}
                              </option> -->
                              <option *ngFor="let redeem of redeemCenter" [value]="redeem.id"> {{redeem.name}} </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Reference -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Reference
                            </div>
                          </div>
                          <div class="formPlaceholder row no-gutters justify-content-center mt-4 mb-4">
                            <div class="col-10" style="text-align: center;">
                              <input class="d8p-form select-redemption " placeholder="Eg: January Transfer" type="text"
                                name="reference" [(ngModel)]="referenceRedeem" required />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Redemption Date And Time -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                                Redemption Date
                            </div>
                          </div>
                          <form class="form-inline flex-align-center">
                            <div class="form-box-group">
                              <div class="input-group grey-gradient border-grey" style="border-radius: 10px;">
                                <input class="form-control grey-gradient" placeholder="Choose Redeem Date"
                                       name="date" [(ngModel)]="dateRedeem" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <span class="material-icons">event</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Confirmation -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Confirmation
                            </div>
                          
                            <br><br>
                            <div class="row no-gutters justify-content-center">
                              <div class="col-12">
                                <div class="button-container text-center mt-2">
                                  <a class="d8p-btn-default mt-3" (click)="redeem(amountRedeem,serviceRedeem,centreRedeem,dateRedeem,referenceRedeem)">
                                    <div class="--text">Confirm</div>
                                    <div class="--icon"><img class="p-1 max-width-30-px"
                                        src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
  
              </div>
  
            </div>
          </div>
        </div>
  
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  <ngx-spinner size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Please wait...</p>
  </ngx-spinner>
