

            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <div class="dashboard-header">
                            <div class="text-center"><img class="w-50 mt-3" src="assets/icons-img/logod8p2.png" routerLink="/login" /></div>
                            <div><img class="mt-3 mr-1" src="assets/icons-img/notification-icon.png" routerLink="/recent-transactions" /></div>
                            <div class="text-right">
                                <div class="headergoldbox d-flex">
                                    <div class="gram-txt">
                                        <div class="font-arial color-white">7.</div>
                                        <div class="font-arial color-white pt-1">2528g</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters min-height-132">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img class="max-width-60 pt-5" src="assets/icons-img/icon-left1.png" />
                    </div>
                    <div class="col-10">
                        <div class="text-center"><img class="max-width-100 vertical-align-bottom" src="assets/icons-img/linegrey1.png" /></div>
                        <mat-tab-group>
                            <mat-tab label="MYR" class="min-height-132">
                                <div class="d8p-normal-text font-arial text-center mt-3">D8-P Acc. No.: 812342289912</div>
                                <div class="d8p-h3 font-arial text-center mt-2">RM <span class="font-weight-bold">250.70</span></div>
                                <div class="flex-align-center flex-column">
                                    <div class="summary-currency-view">
                                        <span class="mr-2"><img src="assets/icons-img/icon-creditsmall2.png"/></span>
                                        RM 100.05
                                    </div>
                                    <div class="summary-gold-view">
                                        <span class="mr-2"><img src="assets/icons-img/icon-creditsmall1.png"/></span>
                                        0.0001g Gold
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="QR"> 
                                <div class="text-center">
                                    <img class="max-width-40 pt-3" src="assets/icons-img/qrcode1.png" />
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img class="max-width-60 pt-5" src="assets/icons-img/icon-right1.png" />
                    </div>
                </div>
            </div>
       