<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-8">
     
      <div class="dashboard-header">
        <div class="text-left">
          <div class="headergoldbox d-flex headerGoldboxPosition">
            <div class="white-line"></div>
            <div class="gram-txt">
              <div class="goldWhole pt-2">{{ goldWhole }}.</div>
              <div class="goldFraction">{{ goldFraction }} g</div>
            </div>
            <div class="half-gold"></div>
          </div>
        </div>
        <div class="text-center">
          <img class="d8plogo" src="assets/icons-img/dahsboard-header-d8plogo@3x.png" routerLink="/dashboard" style="z-index: 2;"/>
        </div>
        <div>
          <img class="dashboard-bell" src="assets/icons-img/notification-off-icon@2x.png" routerLink="/recent-transactions" />
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <img class="max-width-100" src="assets/icons-img/linegrey1.png" />
  </div>
  <div class="row no-gutters min-height-132">
    <div class="col-1 d-flex justify-content-center align-items-center">
      <!-- <img class="max-width-60 pt-5" src="assets/icons-img/icon-left1.png" style="margin-top: 1.5rem; margin-left: 0.25rem;"/> -->
    </div>
    <div class="col-10">
      <mat-tab-group>
        <mat-tab label="MYR" class="min-height-132">
          <div class="d8p-normal-text text-center mt-3 text-secondary">
            D8-P Acc. No.: {{ cardNumber }}
          </div>
          <div class="d8p-h3 text-center mt-4">
            {{ currencyType }}
            <span class="font-weight-bold">{{
              currentBalance | number: '1.2-2'
              }}</span>
          </div>
          <div class="dashboard-gold-box" *ngIf="activetransaction==true">
            <div class="summary-currency-view">
              <span class="mr-2"><img src="assets/icons-img/icon-debitsmall3.png" /></span>
              RM {{ transactionAmount | number: '1.2-2' }}
            </div>
            <div class="summary-gold-view">
              {{ goldAmount | number: '.4-4' }} g
              <span class="ml-2"><img src="assets/icons-img/icon-creditsmall1.png" /></span>
            </div>
          </div>
        </mat-tab>
        <!-- normal -->
        <mat-tab disabled label="Normal" class="min-height-132">
        </mat-tab>
        <!-- qr button -->
        <mat-tab label="QR">
          <div class="row no-gutters justify-content-center">
            <div class="max-width-30 pt-3" routerLink="/qr-code"><img class="max-width-60"
                src="assets/icons-img/qrcode1.png" /></div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- <div class="col-1 d-flex justify-content-center align-items-center">
      <img class="max-width-60 pt-5" src="assets/icons-img/icon-right1.png" style="margin-top: 1.5rem; margin-right: 0.25rem;" />
    </div> -->
  </div>
</div>