<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div class="login-bg">
                <div class="d8p-main-back-btn">
                    <div class="row no-gutters">
                        <div class="col-9">
                            <div class="dashboard-header">
                                <div class="text-center">
                                    <img class="logo" src="assets/icons-img/logo-title-signup@3x.png"
                                        routerLink="/login" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="signupline" src="assets/icons-img/line-gradient-signup.png" />
                    <div class="button-container text-center mt-4 mb-3">
                        <a class="d8p-btn-grey" routerLink="/login">
                            <div class="--text">Back to Login</div>
                            <div class="--icon"><img class="max-width-30-px" src="assets/icons-img/return-to@3x.png" /></div>
                        </a>
                    </div>
                    <div class="npl-container overflow-hidden">
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>
                        <div class="npl-placement"></div>

                    </div>
                   <img class="signupline" src="assets/icons-img/line-gradient-login-bottom.png" />
                    <div class="sponsored text-center">
                        <img class="max-width-20 mr-2 mr-xl-4" src="assets/icons-img/d-8pplus-sponsored@3x.png" />
                        <img class="max-width-20 mr-2 mr-xl-4" src="assets/icons-img/short-line-gradient.png"/>
                        <img class="max-width-30 mr-2 mr-xl-4 " src="assets/icons-img/komeps-sponsored@3x.png"/>
                        <img class="max-width-20 mr-2 mr-xl-4" src="assets/icons-img/short-line-gradient.png"/>
                        <img class="max-width-20 ml-2 ml-xl-4" src="assets/icons-img/d8p-eid@2x.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
