<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12 subtitlebg">
            <div>BANKLOAD: RM 100.00</div>
            <img class="d-flex max-width-100" src="assets/icons-img/linewhite2.png" />
            <div>Effective 24 AUG 2020 (Today)</div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <div class="bankdetailview">
                <div class="row no-gutters">
                    <div class="col-7 flex-align-center text-center flex-column">
                        <div class="transaction-box flex-align-center">
                            <div class="d-flex flex-row">
                                <span class="mt-3"><img class="wh-20-20" src="assets/icons-img/icon-info3.png"/></span>
                                <div class="summary-currency-view">
                                    <span class="mr-2"><img src="assets/icons-img/icon-creditsmall2.png"/></span>
                                    RM 100.05
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-2 flex-align-center text-center">
                        <div class=""><img class="max-width-60" src="assets/icons-img/icon-debitbig2.png" /></div>
                    </div>
                    <div class="col-3 flex-align-center text-center flex-column">
                        <div class="d8p-h6 font-weight-bold mb-1 line-height-15">MAY BANK ACCOUNT</div>
                        <div><img class="max-width-100" src="assets/icons-img/logomaybank1.png" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Username -->
    <div class="row no-gutters justify-content-center">
        <div class="col-9 titlebg">
            <div>Username</div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center mt-4 pb-4">
        <div class="col-10">
            <form>
                <div class="formfield max-width-100">
                    <div class="input-group mb-3 group-input-border-radius">
                        <input 
                            type="text" 
                            class="form-control d8p-input border-grey min-height-60" 
                            placeholder="Ex: 123456" 
                            pattern="\d*" 
                            maxlength="10" 
                            name="username" 
                            [(ngModel)]="username"
                            aria-label="username" 
                            aria-describedby="basic-addon2"
                        />
                        <div class="input-group-append">
                            <span class="input-group-text group-input-icon-field" id="basic-addon2" routerLink="/transfer" >
                                <button class="d8p-transparent-btn" *ngIf="username">
                                    <img class="max-width-100" src="assets/icons-img/icon-correct1.png"  />
                                </button>
                                <button class="d8p-transparent-btn" *ngIf="!username">
                                    <img class="max-width-100" src="assets/icons-img/icon-correct2.png"  />
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Password -->
    <div class="row no-gutters justify-content-center">
        <div class="col-9 titlebg">
            <div>Password</div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center mt-4 pb-4">
        <div class="col-10">
            <form>
                <div class="formfield max-width-100">
                    <div class="input-group mb-3 group-input-border-radius">
                        <input 
                            type="password" 
                            class="form-control d8p-input border-grey min-height-60" 
                            placeholder="Password" 
                            pattern="\d*" 
                            maxlength="6" 
                            name="pwd" 
                            [(ngModel)]="pwd"
                            aria-label="Recipient's username" 
                            aria-describedby="basic-addon2"
                            autocomplete="new-password"
                        />
                        <div class="input-group-append">
                            <span class="input-group-text group-input-icon-field" id="basic-addon2" routerLink="/dashboard">
                                <button class="d8p-transparent-btn" *ngIf="pwd">
                                    <img class="max-width-100" src="assets/icons-img/icon-login2.png"  />
                                </button>
                                <button class="d8p-transparent-btn" *ngIf="!pwd">
                                    <img class="max-width-100" src="assets/icons-img/icon-login1.png"  />
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                
            </form>
            <p class="text-center">Your internet banking credentials are secured by D-8P System Decentralized A.I. Kernel</p>
        </div>
    </div>
</div>