<div>
  <!-- <button
    class="d8p-handburger"
    mat-icon-button
    (click)="sidenav.toggle()"
    fxShow="true"
    fxHide.gt-sm
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
  <label class="handburger" for="myInput">
          <span class="bar top"></span>
          <span class="bar middle"></span>
          <span class="bar bottom"></span>
  </label>
  <!-- Nav block - start -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list>
       <app-matsidenav></app-matsidenav>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Nav block - end -->
    <mat-sidenav-content fxFlexFill>
      <div class="container-fluid p-0">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="dashboard-header-box">
              <app-dashboard-header></app-dashboard-header>
            </div>
          </div>
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="dashboard-content-box pb-5">
              <app-qr-view buynearview="[true]"></app-qr-view>
              <!-- Cancellation -->
              <div class="container-fluid">
                <div class="row no-gutters justify-content-center">
                  <div class="col-12 col-xl-9">
                    <div class="container-fluid p-0 menu-grid">
                      <div class="row no-gutters justify-content-center">
                        <div class="col-12 col-xl-9 titlebg">BUYNEAR Cancellation</div>
                      </div>
                      <div class="row no-gutters justify-content-center mt-4 mb-4">
                        <div class="col-10">
                          <div class="button-container text-center">
                            <button class="d8p-btn-default" routerLink="/dashboard">
                              Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
