<p>KOMEPS FINTECH SDN BHD
    USER TERMS AND CONDITIONS (ENGLISH)
    This Service (hereinafter defined) is made available by KOMEPS FinTech Sdn Bhd (1310188-M) (“KOMEPS”) subject to the
    Terms and Conditions herein (“Terms and Conditions”). You acknowledge that you have read and fully understood these
    Terms and Conditions prior to your access to and use of the Service. Your Activation and use of the Service
    constitutes your unconditional acceptance of these Terms and Conditions as may be amended by KOMEPS from time to
    time.
    Any person that you allow to access the Service using your Account shall also be bound by these Terms and
    Conditions. If you do not accept these Terms and Conditions, please do not continue with the registration process or
    Activation.

</p>
<p>Definitions<br>For the purpose of these Terms and Conditions, the following terms shall have the meanings as defined
    below:- </p>
<table width="100%">
    <tr>
        <td>"Account":</td>
        <td>means the Mobile Payment account created with KOMEPS when you register for the Service at any of but not
            limited to JAMIN Store;</td>
    </tr>
    <tr>
        <td>"“Account Limit”":</td>
        <td>means the maximum limit for the Account which shall be the sum of Ringgit Malaysia Two Hundred (RM20,000.00)
            only. KOMEPS reserves the right to revise the Account Limit;</td>
    </tr>
    <tr>
        <td>“Activation”</td>
        <td>means the point in time when the Service is activated at any JAMIN Store Point of Sale which activates the
            feature of user eWallet and D-8P Card;</td>
    </tr>
    <tr>
        <td>“AMLATFPUAA”</td>
        <td>means Anti-Money Laundering, Anti-Terrorism Financing and Proceeds of Unlawful Activities Act 2001 and
            includes the subsidiary legislation, guidelines, policies and other similar documents issued by the relevant
            federal or local authority and provisions of statute include such statutes and provisions as modified,
            recertified or re-enacted;</td>
    </tr>
    <tr>
        <td>“Available Balance”</td>
        <td>means the amount of money which is standing in credit in your Account, which is available for your use
            subject to the Account Limit and Transaction Limit herein imposed;</td>
    </tr>
    <tr>
        <td>“Bank"</td>
        <td>means the authorised Bank appointed by KOMEPS to act as a remittance agent for the Service;</td>
    </tr>
    <tr>
        <td>“CSA”</td>
        <td>means KOMEPS customer service agent which can be contacted at KOMEPS FinTech Sdn. Bhd. Corporate Office
            which is addressed at 17-07 SUNWAY NEXIS SOHO, No. 1 Jalan PJU 5/1, Kota
            Damansara, 47810 Petaling Jaya, Selangor;
        </td>
    </tr>
    <tr>
        <td>“Account Verification (eKYC)”:</td>
        <td>means the electronic process to validate the identity of a user by verifying the personal details of the
            user upon a Quick-on Boarding at JAMIN Store;</td>
    </tr>
    <tr>
        <td>“Gold”</td>
        <td>Gold refers to the amount of gold giveback observed on the D-8P System App accumulated from transactions
            made by the user;</td>
    </tr>
    <tr>
        <td>“Mobile Payment”</td>
        <td>means the electronic money (e-money) services via Mobile App offered by KOMEPS to user;</td>
    </tr>
    <tr>
        <td>“Mobile Payment System”</td>
        <td>means the Mobile Payment system used by KOMEPS to provide the Service including the payment system platform
            commissioned by KOMEPS to facilitate the payment of goods and services;</td>
    </tr>
    <tr>
        <td>“Manual Reload”</td>
        <td>means the feature in the Mobile App which allows you to manually reload your Account including but not
            limited to the following manner whenever your Available Balance falls below the Account Limit subject to
            applicable fees:-
            <br>(a) via online banking;<br>(b) via any other method which may be determined by KOMEPS from time to time;
        </td>

    </tr>
    <tr>
        <td>“Merchant Dashboard”</td>
        <td>means the dual feature in the KOMEPS eWallet which allows merchants to track sales transactions and history
            record and to further allow selected staff to access such information in the system;</td>
    </tr>
    <tr>
        <td>“Mobile Application / Mobile App / KOMEPS eWallet”</td>
        <td>means the software applications that run on Mobile Devices;</td>
    </tr>
    <tr>
        <td>“Mobile Device”</td>
        <td>means a portable computing device such as a smartphone or tablet used by you for the Service;</td>
    </tr>
    <tr>
        <td>“Money Transfer”</td>
        <td>means the feature of the Mobile App which allows for the transfer of money from one user account to another
            user account subject to charges or/and fee;</td>
    </tr>
    <tr>
        <td>“Personal Information/Data”</td>
        <td>means your information/data collected by KOMEPS for the provision of the Service, either directly or
            indirectly, including but not limited to your name, address details, telephone number and others;</td>
    </tr>
    <tr>
        <td>“Quick On-Boarding”</td>
        <td>means the registration process of a user account and issuance of D-8P Card by KOMEPS at JAMIN Store which
            includes but not limited to change of password, change of pin number, verification of user and others;</td>

    </tr>
    <tr>
        <td>"Reload"</td>
        <td>means the deposit of money into the Account (subject to the Account Limit) via the Reload /
            Payment Channels to enable you to use the Service;</td>
    </tr>
    <tr>
        <td>"Reload / Payment Channels”</td>
        <td>means such channels (including but not limited to the relevant merchant counters (JAMIN Store, Manual Reload and any other method as may be prescribed by KOMEPS from time to time) as may be designated by KOMEPS where you can make Reload and/or Payment transactions;</td>
    </tr>
    <tr>
        <td>“Retail”</td>
        <td>means payment for purchase of goods and/or services via JAMIN Store, mobile applications, payment at point-of-sale (POS) terminals, and any other method of payment for goods and/or services provided by JAMIN Store merchants locally;</td>
    </tr>
    <tr>
        <td>“Service”</td>
        <td>means the provision of the Account and the enabling of the Transactions;</td>

    </tr>
    <tr>
        <td>“Terms and Conditions”</td>
        <td>means these terms and conditions for the Service as may be varied or modified from time to time at KOMEPS’s sole discretion;</td>
    </tr>
    <tr>
        <td>“KOMEPS”</td>
        <td>means Komeps FinTech Sdn Bhd (Company No. 1310188-M), an entity which provides electronic payment system operator in the business of inter alia providing payment solutions to facilitate payments from a customer to a merchant through the use of KOMEPS E-Wallet, Card Payment and Mobile Payment Services.;</td>
    </tr>
    <tr>
        <td>“D-8P System App”</td>
        <td>means the Mobile App available to be downloaded by a User from the Internet or App Store or Google Play;</td>
    </tr>
    <tr>
        <td>“D-8P Card”</td>
        <td>means the electronic card issued by KOMEPS;</td>
    </tr>
    <tr>
        <td>“Transaction”</td>
        <td>means the Mobile Payment transaction performed by you via the Service including but not limited to Retail, Money Transfer and/or Buying and Selling of Gold in the user account;</td>
    </tr>
    <tr>
        <td>“Transaction Limit”</td>
        <td>means the transaction limit in accordance with Clause 1.4 herein;</td>

    </tr>
    <tr>
        <td>“Working Day”</td>
        <td>means a day other than (a) a Saturday and a Sunday; and (b) any other day declared by the government and the state government as a public holiday.</td>
    </tr>
</table>

<h5>1. Use of the Service</h5>
<h6>(A) The Account</h6>
<p>• 1.1 The Service is made available to you by KOMEPS at its sole and absolute discretion to enable you to perform the
    Transactions.
    <br>• 1.2 To use the Service, you need to register for Quick On-Boarding by filling registration form at any JAMIN
    Store. Once the Quick On-Boarding information is obtained by KOMEPS, KOMEPS shall notify when your registration is
    ready and you will be issued a D-8P Card and an eWallet account and you are required to download the Mobile Payment
    App on your Mobile Device and sign in.
    <br>• 1.3 Upon registration and Account Verification at JAMIN Store, you duly verify that the information given to
    KOMEPS prior to registration for Quick-on Boarding purposes are accurate. Any information which are inaccurate shall
    be notified to KOMEPS for amendments.
    <br>• 1.4 Upon registration and Account Verification at JAMIN Store, your Account Limit shall be Ringgit Malaysia
    Five Thousand (RM5,000.00) and can be changed from time to time at the user convenience. <br>• 1.5 Monthly and
    Annual Transaction Limit shall be as follows:<br>
</p>
<table width="100%">
    <tr>
        <td>Account Limit</td>
        <td>RM 20,000</td>
    </tr>
    <tr>
        <td>Monthly Transaction Limit</td>
        <td>RM 20,000</td>
    </tr>
    <tr>
        <td>Annual Transaction Limit</td>
        <td>RM 240,000</td>
    </tr>
</table>
<p>• 1.6 In the event of any issues with the Account Verification (eKYC) function at JAMIN Store, JAMIN Store shall be
    in contact with the CSA for assistance. <br>• 1.7 In the event any selected merchant(s) may provide a refund option
    in relation to the payment for any purchase of goods and/or services in accordance with its after-sale service
    policy, such refund shall be subject to the following:
    <br>o 1.7.1 The refund process shall be subject to the merchant’s refund policy and any terms and
    conditions imposed on such refunds;<br>o 1.7.2 Your Account must be active; and <br>• 1.8 In the event your Account
    balance would exceed the Account Limit of RM20,000.00 after the completion of the refund process, the refund process
    will automatically fail. You would then be required obtain a different refund method or process from the merchant.
    <br> • 1.9 The Merchant Dashboard in the KOMEPS eWallet which allows you to keep track on the sales at each merchant
    shall be for your reference purposes only. Any dispute with regards to the sales shall be referred back to the
    applicable merchant agreement. You shall be solely responsible to ensure that only the relevant personnel are
    granted access to the staff account and KOMEPS shall not be responsible of any misuse of the Merchant Dashboard in
    any way what so ever. The usage of the Merchant Dashboard shall be further subject to any guidelines or directives
    as may be issued by KOMEPS from time to time. <br> • 1.10 Your Account allows you the usage of numerous functions on
    the Mobile App. Please note that the usage of your Account and the Services may be further subject to the relevant
    terms and conditions and charges of each function. <br> • 1.11 You shall provide accurate and complete information
    to KOMEPS and inform KOMEPS immediately of any changes in any particulars of your Personal Information/Data. You may
    update and/or change your contact number or e-mail address through the profile update service in the Mobile Payment
    App. If you wish to update and/or change any particulars of your Personal Information/Data other than those
    mentioned herein, please contact the CSA. You hereby acknowledge that your name, e-mail address and mobile number
    and such other personal information may be made available by KOMEPS to another third party or Bank for verification
    or other lawful purposes. <br> • 1.12 You shall only be entitled to have one (1) Account. You are required to register
    your Account on your own device. For avoidance of doubt, each mobile number and email address can only be used for one (1) Account. <br>
    • 1.13 You shall not fraudulently register the Account. If KOMEPS discovers that you are impersonating another person,
    whether an individual or another legal entity, KOMEPS may immediately terminate the Account and report such fraudulent
    activity to the relevant authorities. <br> • 1.14 You shall, at all times be solely responsible to keep confidential and
    safeguard your Account details. You shall not disclose your login credentials and/or security credentials to any person.
    If you key in the wrong credentials as required, it may result in your Mobile Application access being suspended. To
    reactivate your Mobile Application access, you can reactivate via the “Forgot Your Pin” button. You shall be solely
    responsible and liable for any use and misuse of your Account and all activities that occur under your Account. <br> •
    1.15 The Account is not transferable nor assignable to any third party and shall be exclusively used by you. The Account
    cannot be pledged or used in any manner by you as any form of security instrument for any purpose whatsoever. 
    <br> • 1.16 You may Reload your Account whenever your Available Balance fall below the Account Limit and you may at any
    time use the Service subject to your Available Balance and up to the Transaction Limit. The imposition of the Account
    Limit and Transaction Limit is to avoid any fraudulent, illegal or unlawful transactions including but not limited to
    breaches of regulation and guidelines under the Financial Services Act 2013 and AMLATFPUAA. <br> • 1.17 By registering
    for the Account, you authorise KOMEPS to rely and act upon all communications and instructions given by you. The
    Transactions carried out are not always simultaneous with any instructions given at any time. Although the Account
    and/or Service is accessible outside any Working Days, certain instructions may only be processed on a Working Day. <br>
    • 1.18 The record of all Transactions authenticated through the prescribed method shall be binding and conclusive
    evidence of your Transactions. Any information, instructions and/or confirmation sent from the Mobile Device via the
    Account shall be deemed to have been issued by you notwithstanding that such information, instructions and/or
    confirmation may have been issued by a third party, whether authorised or otherwise, KOMEPS shall deem that the Services
    has been accessed legitimately and the Transactions conducted shall be valid. KOMEPS shall not entertain any request to
    reverse any wrongful Transactions authenticated through the prescribed method. <br>• 1.19 You may view your Transaction
    history up to the previous ninety (90) days by logging into the Mobile Payment App. You should regularly log in to the
    Mobile Payment App to review your Transaction history and to make sure that there have not been any unauthorised
    Transactions. You shall check and verify all Transactions including, without limitation, the amount and recipient
    information. Upon receipt of your written request, KOMEPS may at its absolute discretion provide you with the physical
    statement of accounts, records and details of your Transactions provided always that such details requested for relate
    to Transactions which are not more than three (3) months old. <br> • 1.20 Notwithstanding anything contained in these
    Terms and Conditions, KOMEPS may reject any of your instructions relating to the use of the Service or any Transaction,
    if:- <br>(a) the Service is in breach of any of the terms and conditions herein mentioned; or <br> (b) a risk to the Mobile
    Payment System. <br> • 1.21 If your Mobile Device does not support the relevant technology, you may not be able to use
    the Service (or any part thereof) or access the KOMEPS’s website or any part thereof. <br> • 1.22 You shall be entitled
    to receive Gold cashback from the amount of Transactions made but shall not receive any other profit or/and interest
    whatsoever in relation to the Service. <br> o 1.24.1 Such Gold accumulated is redeemable subject to a fee at KOMEPS
    where such notice can be given to CSA. <br> • 1.23 KOMEPS does not make any warranties and/or representations whatsoever
    in respect of the goods or services being the subject matter of a Transaction including, but not limited to, the
    quality, merchantability, safety, and/or legality thereof. For the avoidance of doubt, KOMEPS does not make any
    warranties or representation as to any profitability of any financial product.
</p>
<h5>2. Your Responsibility</h5>
<p>
    • 2.1 You shall:- <br>(a) ensure that you shall download or have downloaded the Mobile Application from either the
    Google Play Store, the Apple App Store, or Huawei AppGallery. You shall not download the Mobile Application from any
    other sources. You shall be fully responsible for any losses or damages you may suffer in anyway whatsoever should you
    breach the terms of this clause; <br>(b) ensure that you do not use the Mobile Application on any illegally modified
    devices such as jailbroken device, rooted device or any device that has been altered in any way whatsoever. In the 
    event you may utilize such a device, KOMEPS shall not be liable in anyway whatsoever for any and all losses or damages which
    you may suffer including but not limited to any financial and/or information loss; <br>(c) ensure the compatibility of
    your Mobile Device with the Mobile Payment System. In the event that any changes or upgrades are introduced to the
    Mobile Payment System, you shall ensure the continued compatibility of your Mobile Device and be responsible for all
    equipment and Mobile Applications necessary to use the Service. You shall be fully responsible for integrity of all
    information and data transmitted, disclosed and/or obtained through the use of the Service or broadcasted by you or any
    other persons using your Mobile Device; <br> (d) use the Service in good faith and comply with the Terms and Conditions
    and all applicable laws of Malaysia relating to the Service, (including but not limited to Bank Negara Malaysia (BNM)’s
    Rules and Regulations/Guidelines, Communication and Multimedia Act 1998, the Financial Services Act 2013) and all
    subsidiary legislations, rules and regulations, notices, instructions or directives issued thereunder by the government,
    relevant authorities and regulatory agencies, and/or any notices, instructions, directives or guidelines given by KOMEPS
    in connection with the Service which may be amended from time to time; and <br> (e) take all reasonable steps to prevent
    fraudulent, improper or illegal use of the Account and/or Service and theft or loss of your Mobile Device and
    immediately notify the CSA upon the discovery of such fraud, improper or illegal use, theft, loss, or any other
    occurrence of unlawful acts. You shall, if instructed by KOMEPS, lodge a police report on the same and give KOMEPS a
    certified true copy of such report. <br>• 2.2 You shall not:- <br> (a) use the Service for any purpose which is against
    public interest, public order or national harmony or for any unlawful purposes including but not limited to vice,
    gambling or other criminal purposes whatsoever or transmitting any content which is offensive on moral, religious,
    communal or political grounds, or is abusive, defamatory or of an indecent, obscene or menacing character or in any
    other manner which may result in complaints, claims, disputes, penalties or liabilities to KOMEPS; and <br> (b) hack
    into, access, tamper, breach or circumvent any authentication or security of any host, network or account of KOMEPS or
    its provider’s computer systems or interfere with service to any user, host or network, including, without limitation,
    sending a virus. <br> • 2.3 You acknowledge that the Service is, and shall remain, at all times, the property of KOMEPS
    and you shall:- <br> (a) exercise all due care and diligence in the use and maintenance of the Account and Service; and
    <br> (b) not tamper or allow anyone to tamper with the Mobile Device, the Account and/or the Service (including, but not
    limited to, the software and the data recorded in the Mobile Payment) in any way. Tampering with the data on Mobile
    Payment may be a criminal offence and KOMEPS will not honour any Transaction and benefits, if your Account and/or Mobile
    Payment, and/or KOMEPS Card has been tampered with. KOMEPS shall have the right to recover all reasonable cost,
    expenses, losses and damages suffered or incurred by KOMEPS (including all reasonable legal expenses) as a result of you
    altering or interfering or allowing a third party to alter or interfere with the data on your Account and/or Mobile
    Payment and/or KOMEPS Card.
</p>
<h5>3. Privacy</h5>
<p>
    • 3.1 You agree that by registering for the Account, you consent for your Personal Information/Data to be used and/or
    disclosed in accordance with the Personal Data Protection Act 2010. <br> • 3.2 The Personal Information/Data provided by
    you may be held in a database and KOMEPS may use, store, analyse and transfer and / or exchange such information with
    all such persons as may be considered necessary. KOMEPS may use, disclose to third parties and process your Personal
    Information/Data provided by you to KOMEPS for the following purpose:- <br> (a) processing your application and
    providing you with the services / products of KOMEPS, as well as services and products by other external providers
    provided through KOMEPS; <br> (b) to enable communication; <br> (c) managing your relationship and Account with KOMEPS;
    <br> (d) for administrative purposes and any other ancillary matters related to the provision of services related to
    KOMEPS; <br> (e) to address any fraudulent or/and misuse of the services rendered by KOMEPS; and <br>(f) sending you
    marketing, advertising and promotional information about other products/services that KOMEPS and its affiliates, related
    corporations and third-party services providers/agents may be offering or which KOMEPS believes may be of interest or
    benefit to you. Additionally, our related, affiliated, and/or associated companies, our merchants, and strategic
    partners may contact you about products, services and offers, which we believe may be of interest or benefit to you. You
    have the right to opt out from receiving marketing messages. If you wish to opt out from receiving marketing messages,
    please visit your profile page in the Mobile Payment App and follow the instructions stated. If you do not opt out from
    receiving marketing messages, you will be deemed to have consented to receiving such messages by KOMEPS, our related
    affiliated, and/or associated companies affiliated, and/or associated companies, our merchants, and strategic partner.
    <br> • 3.3 KOMEPS may monitor and record all Transactions and communications that may take place between and you for
    KOMEPS 's business purposes (including but not limited to quality control and training, prevention of unauthorised use
    of KOMEPS 's telecommunication systems, ensuring effective systems operation and prevention and detection of crime).
    <br> • 3.4 You hereby agree, consent and allow KOMEPS to extract, disclose and release any information in the possession
    of KOMEPS relating to you (including your Personal Information/Data), the particulars of the Transaction(s) or any
    designated account relating to the Transaction(s) or any other data required for the purpose of investigating any claim
    or dispute arising out of or in connection with the Transaction(s) or to be used as evidence in court or in the event of
    any suspected misuse of the Service. You hereby agree that in the event of a dispute or claim of any nature arising in
    respect of any Transaction(s), the records of the Transaction(s) available from KOMEPS shall be used as sole reference
    and basis of settling such dispute or claim. Your agreement and consent under this Clause shall survive the termination
    of the Service. <br> • 3.5 In addition to the classes of users as stated herein, KOMEPS may additionally disclose your
    Personal Information to the following classes: <br> (a) affiliated companies with KOMEPS; <br> (b) Persons/Organizations
    required under law or where disclosure is necessary for the purposes of compliance with applicable laws or in response
    to relevant authorities requests; <br> (c) Government agencies, statutory authorities, enforcement agencies under law;
    and <br> (d) KOMEPS’s contractors, service/product providers, consultants, auditors, accountants, solicitors, and
    advisors. <br> • 3.6 The Personal Information/Data requested by KOMEPS are mandatory which you must provide and agree to
    the processing of such Personal Information/Data. Should you decide not to provide any or all of the Personal
    Information/Data, KOMEPS will not be able to proceed with the provision of the Services. <br> • 3.7 Subject to the
    provision of the Personal Data Protection Act 2010, you shall have the right to access your Personal Information/Data by
    requesting for a copy of your Personal Information/Data and request to rectify or update your Personal Information/Data.
    You have the right to opt out from giving your consent for your Personal Information/Data to be used and/or disclosed by
    KOMEPS in the manner stated under this Clause 3 and under the Personal Data Protection Act 2010. If you wish to opt out,
    please contact the CSA. Please note however that if you opt out from giving your consent, KOMEPS will not be able to
    continue to provide the Service to you and you will not be able to use the Service. <br> • 3.8 KOMEPS acknowledge that
    the document or information collected by KOMEPS from You relating to Your affair or account as a customer of KOMEPS will
    be only used and/or disclosed in accordance to the secrecy provisions under the Financial Services Act 2013 (FSA).
</p>
<h5>4. Termination & Suspension</h5>
<p>
    • 4.1 Notwithstanding anything in these Terms and Conditions, KOMEPS may immediately change the procedures or mode of
    operation of the Service without giving any reason or notice to you. <br> • 4.2 In addition to KOMEPS’s rights under
    Clause 4.1, KOMEPS shall be entitled to immediately suspend or terminate your use of the Service (or any part thereof,
    including any benefits under the Service) and your access to the Account, with or without any notice to you, upon the
    happening of any of the following events:- <br> (a) if in the opinion of KOMEPS, there is dishonesty, suspected fraud,
    illegality, criminality or misrepresentation in the conduct of your Account or your use of the Services; <br> (b) if you
    are in breach or KOMEPS have reasonable grounds to believe that you have breached any of the provisions of these Terms
    and Conditions, the terms and conditions of the KOMEPS Card and/or any applicable terms and conditions of any new
    services as may be provided by KOMEPS from time to time, or have engaged in any conduct prejudicial to KOMEPS or if in
    the opinion of KOMEPS, your acts are prejudicial to KOMEPS’s interest; <br> (c) if you are in breach of any acts,
    statutes, laws, by-laws, rules and / or regulations imposed by any party, regulatory body or government agency; <br> (d) if you have submitted false documents or have declared false information during your application for the
    Service;<br>(e) if you have acted in bad faith or with malicious intent; <br>(f) if your name is listed under any regulatory
    watchlist (including but not limited to listing related to terrorism and terrorism financing under the AMLAFTPUAA;
    and/or <br>(g) if you fail to provide any additional information which KOMEPS may request from you from time to time.
    <br> • 4.3 You may, at any time, terminate the Service by giving notice of such termination via the Mobile Payment App
    or by contacting our CSA. If you have any Available Balance in the Account, you must ensure that you provide to KOMEPS
    the correct bank account details and any other information as may be required by KOMEPS to enable KOMEPS to process the
    termination of the Service and refund the Available Balance to your bank account within fourteen (14) working days
    subject to charges. If you do not have any Available Balance in the Account, the Service shall be deemed to be
    terminated immediately upon receipt of the termination notice by KOMEPS via the Mobile Payment App. <br>• 4.4 For the
    purpose of termination of Service by user, the Gold accumulated in the account shall be on the user’s
    full responsibility to ensure the gold is redeemed before the termination of Service. <br> • 4.5 In the event that
    balance of Gold in the account exist, the termination of service by user will result in the forfeiture of the Gold
    accumulated if not redeemed prior to termination.
</p>
<h5>5. Consequences of Termination / Suspension</h5>
<p>
    • 5.1 Upon termination of the Service by KOMEPS pursuant to Clause 4.2, KOMEPS may notify you of such termination
    whereupon, you must ensure that you provide to KOMEPS the correct bank account details and any other information as may
    be required by KOMEPS to enable KOMEPS to refund the Available Balance to your bank account within fourteen (14) working
    days or within twelve (12) working days upon receipt of the correct bank account details and any other information as
    may be required by KOMEPS. <br> • 5.2 If KOMEPS terminates or suspends the Service or any part thereof pursuant to
    Clause 4, KOMEPS shall not have obligation to refund the Available Balance until and unless clearance has been obtained
    from the relevant authorities, if applicable. <br> • 5.3 KOMEPS shall not be liable for any losses or damages suffered
    by you due to any incorrect banking information provided by you. <br> • 5.4 The provisions of this Clause 5 are without
    prejudice to KOMEPS’s other rights and remedies under these Terms and Conditions or at law.
</p>
<h5>6. Reactivation</h5>
<p>• 6.1 In the event the Account and/or Service has been suspended and you request for reactivation of the same, KOMEPS
    may at its absolute discretion reactivate the Account.</p>
<h5>7. Refund or Adjustment Due to Error</h5>
<p>
    • 7.1 If you discover any error or discrepancy in your Account, you must contact the CSA within thirty (30) days from
    the date of the disputed transaction, failing which, you shall be deemed to have accepted the accuracy of your
    Transaction. If it is revealed in the course of KOMEPS’s investigation that the disputed Transaction was indeed made in
    error, KOMEPS will refund the disputed sum directly to your Account upon completion of the investigation which will not
    exceed thirty (30) days from your complaint. KOMEPS reserves its right not to refund any disputed amount to you if
    KOMEPS believe you acted contrary to these Term and Conditions.<br> • 7.2 Notwithstanding the above, any refund by
    KOMEPS shall not, in and of itself, amount to completion of the investigation. KOMEPS may refund such sums to your
    Account based on preliminary investigation results. Upon the completion of the full investigation, if it is discovered 
    that you are not entitled to the refund, KOMEPS may, in their sole discretion, either adjust your account and deduct the 
    refunded sums from your Account or claim such sums from you.<br> • 7.3 In the event any incorrect sum was deducted from your 
    Account, KOMEPS shall have the right(s) to make the necessary adjustment or deduction from your Account as required.
</p>
<h5>8. Liability</h5>
<p>
    • 8.1 This Service is provided on an “as is” and “as available” basis. KOMEPS disclaims all liability and makes no
    express or implied representation or warranties of any kind in relation to the Service including but not limited to:-
    <br> (a) availability, accessibility, timeliness and uninterrupted use of the Service; and <br> (b) sequence, accuracy,
    completeness, timeliness or the security of any data, information provided to you as part of the Service. <br> • 8.2
    KOMEPS will use reasonable endeavours to ensure that the Service is secured and cannot be accessed by unauthorised third
    parties. <br>• 8.3 You shall be solely responsible for any and all consequences of use or misuse of your Account, login
    credentials, and/or security credentials. You shall be responsible for all losses and payments (including the amount of
    any transaction carried out without your authority) due to your negligence or where you have acted fraudulently. For the
    purposes of this clause negligence shall be deemed to include failure to observe any of your security duties referred to
    in these Terms and Conditions. <br>• 8.4 However, you will not be liable for any losses caused by system glitches,
    technical error or other operational issues encountered at KOMEPS, Point of Sale, merchants or other relevant parties
    involved in the provision of this Service. <br> • 8.5 KOMEPS shall not be liable or responsible to you and / or to any
    other third party(s) for any costs, loss or damages (whether direct or indirect), or for loss of revenue, loss of
    profits or any consequential loss whatsoever as a result of your usage of the Service including but not limited to:- <br> (a)
    your Account being hacked and/or theft of your login credentials and/or security credentials; and <br> (b) any resulting
    dispute between you and KOMEPS’s merchant over any aspect thereof, including, but not limited to, issues relating to
    quality, merchantability, fitness for use, quantity, or delivery; and <br> (c) resulting from the purchase or investment in any 
    financial products, which shall include the principal sum of such purchase or investment of financial products. <br> •
    8.6 Notwithstanding anything to the contrary contained herein, the maximum liability of KOMEPS shall not exceed in
    aggregate the sum of Ringgit Malaysia Thirty Thousand (RM30,000.00) only or an amount equivalent to the aggregate sum of
    the Available Balance and deposit (if any) of your Account at the date on which your claim arises, whichever is the
    lesser.
</p>
<h5>9. Indemnity</h5>
<p>
    • 9.1 You shall indemnify and shall keep indemnified KOMEPS from any loss, damage, liability or expense, arising from
    any claims for libel, invasion of privacy, infringement of copyright, patent, breach of confidence or privilege or
    breach of any law or regulation whatsoever arising from the breach of these Terms and Conditions, the use of the Account
    and Service, content transmitted, received or stored via the Service or part thereof and for all other claims arising
    out of any act or omission of your or any unauthorised use or exploitation of the Services or part thereof. <br> • 9.2
    You hereby agree to fully indemnify and to hold KOMEPS harmless from and against any claim brought by a third party
    resulting from your use of the Account, Service and KOMEPS’s website and in respect of all losses, costs, actions,
    proceedings, claims, damages, expenses (including reasonable legal costs and expenses), or liabilities, whatsoever
    suffered, or incurred directly or indirectly by KOMEPS in consequence of such use of the Account, Service and KOMEPS’s
    website, and/or your breach or non-observance of any of these Terms and Conditions and/or the terms and conditions of
    the KOMEPS Card and/or any applicable terms and conditions of any new services which KOMEPS may provide from time to
    time. <br> • 9.3 You shall defend and pay all costs, damages, awards, fees (including any reasonable legal fees) and
    judgments awarded against KOMEPS arising from the above claims, and shall provide KOMEPS with notice of such claims,
    full authority to defend, compromise or settle such claims, and reasonable assistance necessary to defend such claims,
    at your sole expense.
</p>
<h5>10.	Governing Law</h5>
<p>•	10.1 These Terms and Conditions are governed by and construed in accordance with the laws of Malaysia, and you hereby submit to the exclusive jurisdiction of the Malaysian courts.</p>
<h5>11.	Force Majeure</h5>
<p>
    • 11.1 Without limiting the generality of any provision in these Terms and Conditions, KOMEPS shall not be liable for
    any failure to perform its obligations herein caused by an act of God, insurrection or civil disorder, military
    operations or act of terrorism, all emergency, acts or omission of Government, or any competent authority, labour
    trouble or industrial disputes of any kind, fire, lightning, subsidence, explosion, floods, acts or omission of persons
    or bodies for whom KOMEPS has no control over or any cause outside KOMEPS’s reasonable control. <br> • 11.2 The Service
    may occasionally be affected by interference caused by objects beyond KOMEPS’s control such as buildings, underpasses
    and weather conditions, electromagnetic interference, equipment failure or congestion in Mobile Payment System. In the
    event of such interference, KOMEPS shall not be responsible for any inability to use or access the Service, interruption
    or disruption of the Service.
</p>
<h5>12.	Amendment and Modification of Terms and Conditions</h5>
<p>•	
12.1 KOMEPS reserves the right at its absolute discretion, from time to time, to vary, add to, delete or otherwise amend
these Terms and Conditions or any part thereof by giving you twenty-one (21) days’ prior notice of such changes,
additions or deletions. Your continued use of the Service after the effective date of any variation, addition, deletion
or amendments to these Terms and Conditions shall constitute your unconditional acceptance of such variation, addition,
deletion or amendments. You are advised to visit the KOMEPS’s website from time to time to keep updated of the latest
variation to these Terms and Conditions (if any). <br> • 12.2 The fees and charges imposed by KOMEPS pursuant to the
Terms and Conditions may change from time to time. KOMEPS shall notify you of any changes to the fees and charges
imposed by KOMEPS giving no less than twenty-one (21) days’ prior to the effective date of the said changes to the fees and charges. 
<br> • 12.3 New Services: KOMEPS may, at its sole and absolute discretion provide you with new services from time to time, 
and these new services will be governed by these Terms and Conditions and the terms and conditions of the respective new services.
</p>
<h5>13.	Anti-Money Laundering, Anti-Terrorism Financing And Proceeds Of Unlawful Activities Act 2001 (AMLATFPUAA) & Financial Services Act 2013 (FSA).</h5>
<p>
    • 13.1 KOMEPS acknowledges that the document or information collected by KOMEPS from you relating to your affair or
    account as a customer of KOMEPS will be only used and/or disclosed in accordance to the secrecy provisions under the
    Financial Services Act 2013 (FSA). <br> • 13.2 KOMEPS officers shall comply in all material respects with the all
    applicable laws, regulations, guidelines and policies relating to AMLATFPUAA, including all, Regulations and Rules. <br>
    • 13.3 Without limiting the generality of the foregoing, to the extent required by the AMLATFPUAA, KOMEPS shall
    (a) maintain an anti-money laundering and anti-terrorism financing compliance program that is in compliance, in all
    material respects, with the AMLATFPUAA, (b) conduct, in all material respects, the due diligence required under the
    AMLATFPUAA in connection with the use of the Account, including with respect to the origin of the funds used by you to
    reload into the Account and (c) maintain sufficient information to identify you for purposes of compliance, in all
    material respects, with the AMLATFPUAA. <br> • 13.4 In the event your Account is ceased, terminated or suspended by
    KOMEPS due to fraudulent, illegal or unlawful transactions including but not limited to breaches of any law (including
    but not limited to the Financial Services Act 2013 and/or AMLATFPUAA or any regulation and/or guidelines made
    thereunder), you shall not be entitled to obtain any refund of the monies and all reload monies whatsoever in the
    Account and it shall be lawful for KOMEPS to retain for an indefinite period or release to the relevant authorities all
    monies in the Account in accordance with applicable legislation, regulation and/or guidelines. You shall not be entitled
    to claim any form of compensation for any loss arising therefrom from KOMEPS.
</p>
<h5>14.	Intellectual Property Rights</h5>
<p>
    • 14.1 All trademarks and other intellectual property rights used in relation to the Services belong to KOMEPS. <br> •
    14.2 You acknowledge and agree that all trademarks and other intellectual property rights relating to the Services or
    any part thereof, whether presented to you by KOMEPS, advertisers or any third party are protected by copyrights,
    trademarks, service marks, patents, or other proprietary rights and laws and all KOMEPS’s rights therein are expressly
    reserved.
</p>
<h5>15.	Service of Notice</h5>
<p>
    •	15.1 KOMEPS may, in its sole discretion, serve you notice under these Terms and Conditions by posting such notice on the KOMEPS’s website or any other online or other medium, which KOMEPS may introduce from time to time.
</p>
<h5>16.	Severability and Effect of Terms and Conditions</h5>
<p>
    •	16.1 If any of the provision herein contained should be invalid, illegal or unenforceable under any applicable law, the legality and enforceability of the remaining provisions shall not be affected or impaired in any way and such invalid, illegal or unenforceable provision shall be deemed deleted.
</p>
<h5>17.	Waiver</h5>
<p>
    •	17.1 KOMEPS’s failure to exercise any particular right or provision of these Terms and Conditions shall not
constitute a waiver of such right or provision, unless acknowledged and agreed to by KOMEPS in writing.
</p>
<h5>18.	Assignment</h5>
<p>
•	18.1 You shall not assign or in any other way transfer your rights or obligations under these Terms and Conditions or part thereof. KOMEPS may assign these Terms and Conditions in whole or in part to any third party at its discretion.
</p>
<h5>19.	Inquiries or Complaints</h5>
<p>•	19.1 For further information, enquiries or complaint on the Service, you may contact the CSA.</p>
<small>Terms and Conditions are updated as at 14th December 2020</small>
