<p>KOMEPS FINTECH SDN BHD
    USER TERMS AND CONDITIONS (ENGLISH) 
    This Service (hereinafter defined) is made available by KOMEPS FinTech Sdn Bhd (1310188-M) (“KOMEPS”) subject to the Terms and Conditions herein (“Terms and Conditions”). You acknowledge that you have read and fully understood these Terms and Conditions prior to your access to and use of the Service. Your Activation and use of the Service constitutes your unconditional acceptance of these Terms and Conditions as may be amended by KOMEPS from time to time. 
    Any person that you allow to access the Service using your Account shall also be bound by these Terms and Conditions. If you do not accept these Terms and Conditions, please do not continue with the registration process or Activation. 
    
   </p>
    <p>
    Definitions 
    For the purpose of these Terms and Conditions, the following terms shall have the meanings as defined below:- 
    <br>
    “Account”:
    means the Mobile Payment account created with KOMEPS when you register for the Service at any of but not limited to JAMIN Store; 
    <br>
    “Account Limit” 
    means the maximum limit for the Account which shall be the sum of Ringgit Malaysia Two Hundred (RM20,000.00) only. KOMEPS reserves the right to revise the Account Limit; 
    “Activation” 
    means the point in time when the Service is activated at any JAMIN Store Point of Sale which activates the feature of user eWallet and D-8P Card; 
    “AMLATFPUAA” 
    means Anti-Money Laundering, Anti-Terrorism Financing and Proceeds of Unlawful Activities Act 2001 and includes the subsidiary legislation, guidelines, policies and other similar documents issued by the relevant federal or local authority and provisions of statute include such statutes and provisions as modified, recertified or re-enacted; 
    
    
    
    
    </p>