<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div id="container">
               
                <div class="userAgreement-bg">
                        <div class="ath-body container-fluid p-0">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-10 col-xl-6">
                                    <div class="container-success">
                                        <div class="ath-box-title">
                                            <h3 class="success-title mt-2">Add to Home Screen</h3>
                                        </div>
                                        <div class="ath-box-body">
                                            <p class="success-body"> Add this D-8P System application to your
                                                home screen for easy access.
                                                <span><img class="mt-4" src="assets/icons-img/ath-image.png" /></span>
                                            </p>
                                        </div>
                                        <div class="ath-box-btn">
                                            <div class="button-container text-center mt-2">
                                                <a class="d8p-btn-default mt-3 margin-left-56" routerLink="login">
                                                    <div class="--text">Okay</div>
                                                    <div class="--icon"><img class="p-1 max-width-30-px" src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>