<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div id="container">
               
                <div class="userAgreement-bg">
                        <div class="ath-body container-fluid p-0">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-10 col-xl-6">
                                    <div class="container-ath">
                                        <div class="ath-box-title">
                                            <h3 class="success-title mt-2">Add to Home Screen</h3>
                                        </div>
                                        <div class="ath-box-body">
                                            <p class="success-body"> Add this D-8P System application to your
                                                home screen for easy access.
                                                <!-- <span><img class="mt-4" src="assets/icons-img/ath-image.png" /></span> -->
                                            </p>
                                            <!-- <div class="ath-box-title">
                                                <h3 class="success-title mt-2">For ios <i class="box-arrow-up"></i></h3>
                                            </div> -->
                                            <div class="success-body">
                                                <h4>iPad/iPhone</h4>
                                                <ol>
                                                    <li style="text-align: left;">Tap share icon <i class="bi bi-box-arrow-up"></i> at the bottom of the screen.</li>
                                                    <li style="text-align: left;">Scroll down and tap Add to Home Screen <i class="bi bi-plus-square"></i> .</li>
                                                </ol>
                                                <h4>Android</h4>
                                                <ol>
                                                    <li style="text-align: left;">Tap menu icon <i class="bi bi-three-dots-vertical"></i> at upper right-hand corner of the screen.</li>
                                                    <li style="text-align: left;">Tap <span class="material-icons" style="font-size: 16px;">add_to_home_screen</span> Add to Home screen.</li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="ath-box-btn">
                                            <div class="button-container text-center mt-2">
                                                <a class="d8p-btn-default mt-3 margin-left-56" routerLink="/login">
                                                    <div class="--text">Okay</div>
                                                    <div class="--icon"><img class="p-1 max-width-30-px" src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>