<div class="container-fluid p-0">
  <!-- 1st iteration -->
  <div class="row no-gutters">
    <div class="col-6">
      <div class="row no-gutters prod-box border-darkgrey-slim border-right-none p-2">
        <div class="col-7">
          <div class="font-size-15 font-weight-bold mb-2">Nestle Bliss</div>
          <div class="font-size-13 color-lightgrey mb-2">Yogurt Drink</div>
          <div>
            <img
              class="shoplogo max-width-80 border-grey border-radius-16"
              src="../../../assets/icons-img/logo99speedmart1.png"
            />
          </div>
          <!--Below quantity button only enable buy near flow -->
          <div class="control">
            <button class="grey-gradient bttn bttn-left" id="minus">
              <div>-</div>
            </button>
            <input type="number" class="input" id="input" />
            <button class="grey-gradient bttn bttn-right" id="plus">
              <div>+</div>
            </button>
          </div>
        </div>
        <div class="col-5">
          <div class="text-right">
            <img
              class="max-width-15-px"
              src="../../../assets/icons-img/icon-info1.png"
            />
          </div>
          <div class="text-center">
            <img
              class="max-width-80"
              src="../../../assets/icons-img/imageyogurtdrink1.png"
            />
          </div>
        </div>
      </div>
      <div
        class="row no-gutters grey-gradient border-darkgrey-slim border-top-none border-right-none"
      >
        <div class="col-1">
          <img
            class="max-width-100"
            src="../../../assets/icons-img/imagegold2.png"
          />
        </div>
        <div
          class="col-5 pl-1 letter-spacing-closer font-arial font-size-12 color-cyan text-left flex-align-start"
        >
          ++ 0.0015 g
        </div>
        <div
          class="col-6 pr-1 letter-spacing-closer font-arial font-size-12 color-textgrey text-right flex-align-end"
        >
          RM 4.50
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row no-gutters prod-box border-darkgrey-slim p-2">
        <div class="col-7">
          <div class="font-size-15 font-weight-bold mb-2">Cadbury</div>
          <div class="font-size-13 color-lightgrey mb-2">Chocolate Bar</div>
          <div>
            <img
              class="shoplogo max-width-80 border-grey border-radius-16"
              src="../../../assets/icons-img/logo99speedmart1.png"
            />
          </div>
          <!--Below quantity button only enable buy near flow -->
          <div class="control">
            <button class="grey-gradient bttn bttn-left" id="minus">
              <div>-</div>
            </button>
            <input type="number" class="input" id="input" />
            <button class="grey-gradient bttn bttn-right" id="plus">
              <div>+</div>
            </button>
          </div>
        </div>
        <div class="col-5">
          <div class="text-right">
            <img
              class="max-width-15-px"
              src="../../../assets/icons-img/icon-info1.png"
            />
          </div>
          <div class="text-center">
            <img
              class="max-width-80"
              src="../../../assets/icons-img/imagechocolatebar1.png"
            />
          </div>
        </div>
      </div>
      <div
        class="row no-gutters grey-gradient border-darkgrey-slim border-top-none border-right-none"
      >
        <div class="col-1">
          <img
            class="max-width-100"
            src="../../../assets/icons-img/imagegold2.png"
          />
        </div>
        <div
          class="col-5 pl-1 letter-spacing-closer font-arial font-size-12 color-cyan text-left flex-align-start"
        >
          ++ 0.0015 g
        </div>
        <div
          class="col-6 pr-1 letter-spacing-closer font-arial font-size-12 color-textgrey text-right flex-align-end"
        >
          RM 4.50
        </div>
      </div>
    </div>
  </div>
  <!-- 2nd iteration -->
  <div class="row no-gutters">
    <div class="col-6">
      <div class="row no-gutters prod-box border-darkgrey-slim border-right-none p-2">
        <div class="col-7">
          <div class="font-size-15 font-weight-bold mb-2">Nestle Bliss</div>
          <div class="font-size-13 color-lightgrey mb-2">Yogurt Drink</div>
          <div>
            <img
              class="shoplogo max-width-80 border-grey border-radius-16"
              src="../../../assets/icons-img/logo99speedmart1.png"
            />
          </div>
          <!--Below quantity button only enable buy near flow -->
          <div class="control">
            <button class="grey-gradient bttn bttn-left" id="minus">
              <div>-</div>
            </button>
            <input type="number" class="input" id="input" />
            <button class="grey-gradient bttn bttn-right" id="plus">
              <div>+</div>
            </button>
          </div>
        </div>
        <div class="col-5">
          <div class="text-right">
            <img
              class="max-width-15-px"
              src="../../../assets/icons-img/icon-info1.png"
            />
          </div>
          <div class="text-center">
            <img
              class="max-width-80"
              src="../../../assets/icons-img/imageyogurtdrink1.png"
            />
          </div>
        </div>
      </div>
      <div
        class="row no-gutters grey-gradient border-darkgrey-slim border-top-none border-right-none"
      >
        <div class="col-1">
          <img
            class="max-width-100"
            src="../../../assets/icons-img/imagegold2.png"
          />
        </div>
        <div
          class="col-5 pl-1 letter-spacing-closer font-arial font-size-12 color-cyan text-left flex-align-start"
        >
          ++ 0.0015 g
        </div>
        <div
          class="col-6 pr-1 letter-spacing-closer font-arial font-size-12 color-textgrey text-right flex-align-end"
        >
          RM 4.50
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row no-gutters prod-box border-darkgrey-slim p-2">
        <div class="col-7">
          <div class="font-size-15 font-weight-bold mb-2">Cadbury</div>
          <div class="font-size-13 color-lightgrey mb-2">Chocolate Bar</div>
          <div>
            <img
              class="shoplogo max-width-80 border-grey border-radius-16"
              src="../../../assets/icons-img/logo99speedmart1.png"
            />
          </div>
          <!--Below quantity button only enable buy near flow -->
          <div class="control">
            <button class="grey-gradient bttn bttn-left" id="minus">
              <div>-</div>
            </button>
            <input type="number" class="input" id="input" />
            <button class="grey-gradient bttn bttn-right" id="plus">
              <div>+</div>
            </button>
          </div>
        </div>
        <div class="col-5">
          <div class="text-right">
            <img
              class="max-width-15-px"
              src="../../../assets/icons-img/icon-info1.png"
            />
          </div>
          <div class="text-center">
            <img
              class="max-width-80"
              src="../../../assets/icons-img/imagechocolatebar1.png"
            />
          </div>
        </div>
      </div>
      <div
        class="row no-gutters grey-gradient border-darkgrey-slim border-top-none border-right-none"
      >
        <div class="col-1">
          <img
            class="max-width-100"
            src="../../../assets/icons-img/imagegold2.png"
          />
        </div>
        <div
          class="col-5 pl-1 letter-spacing-closer font-arial font-size-12 color-cyan text-left flex-align-start"
        >
          ++ 0.0015 g
        </div>
        <div
          class="col-6 pr-1 letter-spacing-closer font-arial font-size-12 color-textgrey text-right flex-align-end"
        >
          RM 4.50
        </div>
      </div>
    </div>
  </div>

</div>
