<div>
  <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
  <label class="handburger" for="myInput">
    <span class="bar top"></span>
    <span class="bar middle"></span>
    <span class="bar bottom"></span>
  </label>
  <!-- Nav block - start -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end">
      <mat-nav-list>
        <app-matsidenav></app-matsidenav>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Nav block - end -->
    <mat-sidenav-content fxFlexFill>
      <div class="container-fluid p-0">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="id-dashboardheader">
              <!-- Dashboard Header Start -->
              <app-mini-dashboard-header></app-mini-dashboard-header>
              <!-- Dashboard Header End -->
            </div>
          </div>
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9">
            <div class="id-contentbox pb-5">
              <div class="id-body">
                <div class="container-fluid p-0 menu-grid">
                  <div class="modal-title text-center mb-2" style="height: 50px;">
                    Update Profile
                  </div>
                  <form autocomplete="off">
                    <div class="text-center mt-2 mb-4">
                      User Profile Image
                    </div>
                    <div class="upload-part">
                      <img class="userdp update-photo" [src]="imageSrc">
                      <div class="upload-button">
                        <input type="file" accept="image/*" (change)=onSelectedFile($event)>
                        <label class="snap-btn">Upload</label>
                      </div>
                    </div>
                    <!-- <div class="text-center mt-2 mb-2">
                        Email Address
                      </div>
                      <div class="upload-part">
                        <input class="form-control d8p-input-normal min-height-60" id="userEmail" type="text" placeholder="example@example.com" [(ngModel)]="updateForm.email" name="userEmail" #userEmail="ngModel">
                        <button class="snap-btn">Change</button>
                      </div> -->
                    <div class="text-center mt-4 mb-2">
                      Residence Address
                    </div>
                    <div class="upload-part row no-gutters justify-content-center mt-4 mb-4">
                      <input class="d8p-input-form1 d8p-input-normal min-height-60" [(ngModel)]="updateForm.address"
                        name="homeAddress" #homeAddress="ngModel" id="homeAddress">
                      <!-- <button class="snap-btn">Change</button> -->
                    </div>
                    <div class="text-center mt-2 mb-2">
                      Postcode
                    </div>
                    <div class="upload-part row no-gutters justify-content-center mt-4 mb-4">
                      <input class="d8p-input-form1 d8p-input-normal min-height-60" [(ngModel)]="updateForm.postalCode"
                        name="postalCode" #postalCode="ngModel" id="postalCode" placeholder="eg: 47810" maxlength="5"
                        type="text">
                      <!-- <button class="snap-btn">Change</button> -->
                    </div>
                    <div class="text-center mt-2 mb-2">
                      City
                    </div>
                    <div class="upload-part row no-gutters justify-content-center mt-4 mb-4">
                      <input class="d8p-input-form1 d8p-input-normal min-height-60" [(ngModel)]="updateForm.city" name="city"
                        #city="ngModel" id="city" type="text" placeholder="eg: Kuala Lumpur">
                      <!-- <button class="snap-btn">Change</button> -->
                    </div>
                    <div class="text-center mt-2 mb-2">
                      Mobile Phone Number
                    </div>
                    <div class="upload-part row no-gutters justify-content-center mt-4 mb-4">
                      <input class="d8p-input-form1 d8p-input-normal min-height-60" id="phoneNo" type="text"
                        [(ngModel)]="updateForm.phone" name="phoneNo" #phoneNo="ngModel" maxlength="12"
                        placeholder="0123456789">
                      <!-- <button class="snap-btn">Change</button> -->
                    </div>
                    <div class="row no-gutters justify-content-center">
                    <div class="row no-gutters justify-content-center">
                      <div class="col-12">
                        <div class="button-container text-center mt-2" style="height: 90px;">
                          <a class="d8p-btn-default mt-3" (click)="onSubmit()">
                            <div class="--text">Confirm</div>
                            <div class="--icon"><img class="p-1 max-width-30-px"
                                src="assets/icons-img/tick-only-signup@2x.png" /></div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ngx-spinner size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Updating...</p>
</ngx-spinner>