<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div class="login-bg" style="background-position: center -25vh; min-height: 120vh;">
                <div class="d8p-main-back-btn" style="top: 0;">
                    <div class="row no-gutters">
                        <div class="col-2"></div>
                        <div class="col-9">
                          <div class="dashboard-header">
                            <div class="text-center">
                              <img
                                class="w-50 mt-3"
                                src="assets/icons-img/logod8p2.png"
                                routerLink="/login"
                              />
                            </div>
                          </div>
                        </div>
                    </div>
                    <img class="max-width-75" src="assets/icons-img/linegrey1.png" />
                    <div class="row no-gutters justify-content-center w-50 pl-4 pr-4">
                        <div class="col-12 col-xl-9 titlebg bg-cyangradient">
                            Signup
                        </div>
                    </div>
                    <div class="container-fluid p-0">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-10 col-xl-6">
                                <div class="d8p-normal-text text-center pt-4 pb-4">Welcome to the D-8P Account. Please fill in the required details to open an account with us.</div>
                                <div class="container-fluid">
                                    <div class="row no-gutters justify-content-center">
                                        <div class="col-12 col-xl-6">
                                            <div class="container-fluid p-0">
                                                <form id="formSignup" novalidate>
                                                <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                    <div class="col-11">
                                                        <input 
                                                        class="d8p-input-normal" 
                                                        placeholder="Username" 
                                                        type="text"
                                                        pattern="([A-z0-9À-ž]){2,}"
                                                        id="username" 
                                                        name="username" 
                                                        #username="ngModel"
                                                        minlength="4"
                                                        maxlength="12"
                                                        [(ngModel)]="loginUsername"
                                                        required/>
                                                        <div class="alert alert-danger" 
                                                        *ngIf="username.touched && ! username.valid">Username is required.</div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                    <div class="col-11">
                                                        <input 
                                                        class="d8p-input-normal" 
                                                        placeholder="Full Name" 
                                                        type="text" 
                                                        id="fullname"
                                                        name="fullname"
                                                        #fullname="ngModel"
                                                        [(ngModel)] = "fullName"
                                                        required/>
                                                        <div class="alert alert-danger" 
                                                        *ngIf="fullname.touched && ! fullname.valid">Full Name is required.</div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                    <div class="col-11">
                                                        <input 
                                                        class="d8p-input-normal" 
                                                        placeholder="Email Address" 
                                                        type="email"
                                                        #emailAdd="ngModel"
                                                        id="emailAdd"
                                                        name="emailAdd" 
                                                        [(ngModel)] = "emailAddress"
                                                        required/>
                                                        <div class="alert alert-danger" 
                                                        *ngIf="emailAdd.touched && ! emailAdd.valid">Fill in your email address.</div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                    <div class="col-11">
                                                        <input 
                                                        class="d8p-input-normal" 
                                                        placeholder="NRIC" 
                                                        type="text" 
                                                        minlength="12"
                                                        maxlength="12"
                                                        #nricNo="ngModel"
                                                        id="nricNo"
                                                        name="nricNo" 
                                                        [(ngModel)] = "nricNumber"
                                                        required/>
                                                        <div class="alert alert-danger" 
                                                        *ngIf="nricNo.touched && ! nricNo.valid">NRIC is required.</div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                    <div class="col-11">
                                                        <input 
                                                        class="d8p-input-normal" 
                                                        placeholder="Password" 
                                                        type="text"
                                                        pattern="([A-z0-À-ž]){1,13}" 
                                                        minlength="4"
                                                        maxlength="12" 
                                                        #createPass="ngModel"
                                                        id="create-password"
                                                        name="create-password" 
                                                        [(ngModel)]="createPassword"
                                                        required/>
                                                        <div class="alert alert-danger" 
                                                        *ngIf="createPass.touched && ! createPass.valid">Password is required.</div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                    <div class="col-11">
                                                        <input 
                                                        class="d8p-input-normal" 
                                                        placeholder="Confirm Password" 
                                                        type="text"
                                                        pattern="([A-z0-À-ž]){1,13}"  
                                                        minlength="4"
                                                        maxlength="12" 
                                                        id="confirm-password"
                                                        name="confirm-password"
                                                        [(ngModel)]="confirmPassword"
                                                        required/>
                                                    </div>
                                                </div>
                                                <div>
                                                    Do you want a physical D-8P Card?
                                                </div>
                                                <div class="height-60 flex-align-center text-center">
                                                    <mat-radio-group name= "cardSelect" >
                                                    <mat-radio-button
                                                    id="wantCard" 
                                                    value="wantCard" 
                                                    name="wantCard"
                                                    (change)="selectCard(1)"
                                                    ></mat-radio-button>
                                                    <label for="wantCard">Yes, I want to have a physical D8-P card.</label> 

                                                    <mat-radio-button
                                                    type="radio" 
                                                    id="noWantCard" 
                                                    value="noWantCard" 
                                                    name="noWantCard"
                                                    (change)="selectCard(2)"
                                                    checked
                                                    >
                                                    <label for="noWantCard">No, I don't want to have a physical card.</label> 
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                            <div class="yesWant" id="yesWant" style="display: none;">
                                                <label for="homeAddress">Home Address: </label>
                                                <input type="text" name="homeAddress" id="homeAddress" #homeAdd="ngModel" [(ngModel)]="homeAddress" required/>
                                                <div class="alert alert-danger" *ngIf="homeAdd.touched && ! homeAdd.valid">Home Address is required.</div>
                                                
                                                <label for="postalCode">Postal Code: </label>
                                                <input type="text" name="postalCode" id="postalCode" maxlength="5" #postCode="ngModel" [(ngModel)]="postalCode" placeholder="eg: 47810" required/>
                                                <div class="alert alert-danger" *ngIf="postCode.touched && ! postCode.valid">Postal Code is required.</div>

                                                <label for="stateCity">City: </label>
                                                <input type="text" name="stateCity" id="stateCity" #city="ngModel" [(ngModel)]="stateCity" placeholder="eg: Kota Damansara" required/>
                                                <div class="alert alert-danger" *ngIf="city.touched && ! city.valid">City is required.</div>
                                            </div>
                                                <!-- Pop Up T&C -->
                                              <ng-template #longContent let-modal>
                                                <div class="modal-header">
                                                  <h4 class="modal-title" name="termsAndCondition">Terms and Condition</h4>
                                                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                <app-terms-condition></app-terms-condition>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light" id="agRee" (click)="modal.close('Cross click')">Agree</button>
                                                  <button type="button" class="btn btn-light" id="disAgree" (click)="checkAgree.click()" (click)="modal.close('Cross click')">Disagree</button>
                                                </div>
                                              </ng-template>
        
                                            <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                <div><input type="checkbox" id="checkAgree" #checkAgree/></div>
                                                <div class="col-11">
                                                    <div>I confirm that I have read, consent and agree to D-8P System's 
                                                    <a href="#" (click)="openScrollableContent(longContent)">User Agreement and as Privacy Agreement</a>, and I am of legal age.</div>
                                                </div>
                                            </div>
                                               <div class="row no-gutters justify-content-center mt-4 mb-4">
                                                    <div class="col-12">
                                                        <div class="button-container text-center">
                                                            <button class="d8p-btn-default" (click)="doSignupUser()">
                                                                Submit
                                                                <span class="ml-2"><img class="p-1 max-width-25-px" src="assets/icons-img/icon-correct2.png" /></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>