<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div id="container">
                <div class="signup-bg">
                    <div class="d8p-main-back-btn">
                        <div class="row no-gutters">
                            <div class="col-9">
                                <div class="dashboard-header">
                                    <div class="text-center">
                                        <img class="logo" src="assets/icons-img/logo-title-signup@3x.png"
                                            routerLink="/login" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img class="signupline" src="assets/icons-img/line-gradient-signup.png" />
                        <div class="container-fluid p-0">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-10 col-xl-6">
                                    <div class="d8p-radiobttn-text text-center mt-2 mb-2">Sign up with us to feel the
                                        D-8P
                                        System's<br>'Save in grams' Gold FinTech experience!</div>
                                    <div class="container-fluid">
                                        <div class="row no-gutters justify-content-center">
                                            <div class="col-12 col-xl-6">
                                                <div class="container-fluid p-0">
                                                    <form id="formSignup" autocomplete="off">
                                                        <div class="formPlaceholder row no-gutters justify-content-center">
                                                            <div class="col-12">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    placeholder="Username" type="text"
                                                                    pattern="([A-z0-9À-ž]){2,}" id="username"
                                                                    name="username" #username="ngModel" minlength="4"
                                                                    maxlength="12" [(ngModel)]="loginUsername"
                                                                    required autocomplete="off"/>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!userName">
                                                                    Username is required.</div>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!userNameLong">
                                                                    Username must be at least 4 characters long.</div>
                                                            </div>
                                                        </div>

                                                        <div class="formPlaceholder row no-gutters justify-content-center">
                                                            <div class="col-12">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    placeholder="Full Name" type="text" id="fullname"
                                                                    name="fullname" #fullname="ngModel"
                                                                    [(ngModel)]="fullName" required autocomplete="off"/>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!nameFull">Full
                                                                    Name is required.</div>
                                                            </div>
                                                        </div>

                                                        <div class="formPlaceholder row no-gutters justify-content-center">
                                                            <div class="col-12">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    placeholder="Email Address" type="email"
                                                                    #emailAdd="ngModel" id="emailAdd" name="emailAdd"
                                                                    [(ngModel)]="emailAddress" required autocomplete="off"/>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!emailAddr">Fill in
                                                                    your email address.</div>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!emailValid">Invalid email address.</div>
                                                            </div>
                                                        </div>

                                                        <div class="formPlaceholder row no-gutters justify-content-center">
                                                            <div class="col-12">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    placeholder="No Telephone" type="text"
                                                                    #phoneAdd="ngModel" id="phoneAdd" name="phoneAdd"
                                                                    [(ngModel)]="noTelephone" required autocomplete="off"/>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!phone">Fill in
                                                                    your Telephone No.</div>
                                                            </div>
                                                        </div>

                                                        <div class="formPlaceholder row no-gutters justify-content-center">
                                                            <div class="col-12">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    placeholder="National Identity Card No." type="text"
                                                                    minlength="12" maxlength="12" #nricNo="ngModel"
                                                                    id="nricNo" name="nricNo" [(ngModel)]="nricNumber"
                                                                    required/>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!ic">National
                                                                    Identity Card No. is required.</div>
                                                            </div>
                                                        </div>

                                                        <div class="formPlaceholder row no-gutters justify-content-center">
                                                            <div class="col-12">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    placeholder="Password" type="password"
                                                                    pattern="([A-z0-À-ž]){1,13}" minlength="4"
                                                                    maxlength="12" #createPass="ngModel"
                                                                    id="create-password" name="create-password"
                                                                    [(ngModel)]="createPassword" [type]="hide ? 'password' : 'text'" required />
                                                                    <i class="bi-eye-slash" id="togglePassword1" (click)="showPassword()"></i>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!newPass">
                                                                    Password is required.</div>
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="formPlaceholder row no-gutters justify-content-center mb-2">
                                                            <div class="col-12">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    placeholder="Confirm Password" type="password"
                                                                    pattern="([A-z0-À-ž]){1,13}" minlength="4"
                                                                    maxlength="12" id="confirm-password"
                                                                    name="confirm-password"
                                                                    [(ngModel)]="confirmPassword" [type]="hideConfirm ? 'password' : 'text'" required />
                                                                    <i class="bi-eye-slash" id="togglePassword2" (click)="showConfirmPassword()"></i>
                                                                <div class="alert alert-danger"
                                                                    *ngIf="!confirmPass">
                                                                    Confirm Password is required.</div>
                                                            </div>
                                                        </div>
                                                       
                                                        <label for="radioBtn1" class="radioContainer">
                                                            <input type="radio" name="radio" id="radioBtn1" class="radioBtnInput" (change)="selectCard(1)"/>
                                                            <div class="radioCustom"></div>
                                                            <div class="d8p-radiobttn-text">Yes, I want to have a physical D-8P card.<br>
                                                            <span class="d8p-smaller-text text-justify">(*priced at RM 6.00 one-time, charged from 20%<br>of my Gold loyalty giveback until RM 6.00 is paid).</span>
                                                        </div>
                                                        </label>
                                                        <div class="yesWant" id="yesWant"
                                                        style="display: none;">
                                                        <div id="inner-container" class="formPlaceholder">
                                                            <div class="inner">
                                                                <input class="d8p-form d8p-input-normal" type="text"
                                                                    placeholder="Home Address"
                                                                    name="homeAddress" id="homeAddress"
                                                                    #homeAdd="ngModel"
                                                                    [(ngModel)]="homeAddress" required />
                                                                <div class="alert alert-danger"
                                                                    *ngIf="homeAdd.touched && ! homeAdd.valid">
                                                                    Home Address is required.</div>
                                                            </div>

                                                            <div class="formPlaceholder inner">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    type="text" name="postalCode"
                                                                    id="postalCode" maxlength="5"
                                                                    #postCode="ngModel"
                                                                    [(ngModel)]="postalCode"
                                                                    placeholder="Postal Code" required />
                                                                <div class="alert alert-danger"
                                                                    *ngIf="postCode.touched && ! postCode.valid">
                                                                    Postal Code is required.</div>
                                                            </div>

                                                            <div class="formPlaceholder">
                                                                <input class="d8p-form d8p-input-normal"
                                                                    type="text" name="stateCity"
                                                                    id="stateCity" #city="ngModel"
                                                                    [(ngModel)]="stateCity"
                                                                    placeholder="City" required />
                                                                <div class="alert alert-danger"
                                                                    *ngIf="city.touched && ! city.valid">
                                                                    City is required.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <label for="radioBtn2" class="radioContainer d8p-radiobttn-text">
                                                            <input type="radio" name="radio" id="radioBtn2" class="radioBtnInput" (change)="selectCard(2)" checked/>
                                                            <div class="radioCustom"></div>No, I don't want to have a physical card.
                                                        </label>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tnc">
                                <div class="d-flex flex-row justify-content-center align-items-center ml-3">
                                    <input type="checkbox" id="checkAgree" class="tnc-checkbox ml-2" (click)="agreementCheckbox()"/>
                                    <div class="d8p-tnc-text ml-2 justify-content-center text-left">I have read the <span
                                            class="userAgreement">User Agreement</span> and agreed to sign up.</div>
                                </div>
                        </div>
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12">
                                <div class="button-container text-center mt-2">
                                    <a class="d8p-btn-default" (click)="doSignupUser()">
                                        <div class="--text">Confirm</div>
                                        <div class="--icon"><img class="p-1 max-width-30-px" src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Please wait...</p>
  </ngx-spinner>