<div>
    <!-- <button class="d8p-handburger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>
        <svg width="25" height="45">
          <path d="M0,3 25,3" stroke="#fff" stroke-width="3"/>
          <path d="M0,12 25,12" stroke="#fff" stroke-width="3"/>
          <path d="M0,21 25,21" stroke="#fff" stroke-width="3"/>
      </svg>
      </mat-icon>
    </button> -->
    <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
    <label class="handburger" for="myInput">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
    </label>
    <!-- Nav block - start -->
      <mat-sidenav-container>
        <mat-sidenav #sidenav mode="over" position="end">
          <mat-nav-list>
            <app-matsidenav></app-matsidenav>
          </mat-nav-list>
        </mat-sidenav>
        <!-- Nav block - end -->
        <mat-sidenav-content fxFlexFill>
          <div class="container-fluid p-0">
            <div class="row no-gutters justify-content-center">
              <div class="col-12 col-xl-9">
                <div class="id-dashboardheader">
                  <!-- Dashboard Header Start -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-8">
                        <div class="dashboard-header">
                          <div class="text-left">
                            <div class="headergoldbox d-flex headerGoldboxPosition">
                              <div class="white-line"></div>
                              <div class="gram-txt">
                                <div class="goldWhole pt-2">{{ goldWhole }}.</div>
                                <div class="goldFraction">{{ goldFraction }} g</div>
                              </div>
                              <div class="half-gold"></div>
                            </div>
                          </div>
                          <div class="text-center">
                            <img class="d8plogo" src="assets/icons-img/dahsboard-header-d8plogo@3x.png"
                              routerLink="/dashboard" style="z-index: 2;" />
                          </div>
                          <div>
                            <img class="dashboard-bell" src="assets/icons-img/notification-off-icon@2x.png"
                              routerLink="/recent-transactions" />
                          </div>
                        </div>
                        <div class="col-4"></div>
                      </div>
                      <img class="max-width-100" src="assets/icons-img/linegrey1.png" />
                    </div>
                    <!-- Dashboard Header End -->
                  </div>
                </div>
              </div>
            </div>
            
            <!-- <div class="row no-gutters justify-content-center">
              <div class="col-12 col-xl-9"> 
                <div class="dashboard-content-box pb-5">
                  <div class="container-fluid quicklinkbg">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Request CArd?
                            </div>
                          </div>
                      

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                             
                            <button type="button" class="btn btn-outline-info" id="agRee" (click)="requestCard()">Yes, I would like to request a card. </button>
                            <button type="button" class="btn btn-outline-secondary" id="disAgree">No, I no want card</button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
         

                  

                  
                </div>

              </div>
            </div>
          </div> -->
          <div class="requestCard-body container-fluid p-0">
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="id-contentbox pb-3">
                <div class="id-body">
                  <div class="container-fluid p-0 menu-grid">
                    <div class="modal-title text-center mb-2" style="height: 50px;">
                      Request Card
                    </div>
                    <div class="container-success">
                      <div class="request-box-body">
                          <p class="success-body">
                            Make sure you have updated your profile at "Update Profile"
                          </p>
                      </div>
                      <div class="request-box-btn">
                        <div class="button-container text-center mt-2">
                          <button class="d8p-btn-default mt-3 margin-left-56" (click)="requestCard()" id="btnConfirm">
                            <div class="--text">Request Card</div>
                            <div class="--icon"><img class="p-1 max-width-30-px"
                                src="assets/icons-img/tick-only-signup@2x.png" /></div>
                          </button>
                        </div>
                        <div class="button-container text-center mt-2">
                          <button class="d8p-btn-default mt-3 margin-left-56" routerLink="/dashboard" id="btnConfirm">
                            <div class="--text">Cancel</div>
                            <div class="--icon"><img class="p-1 max-width-30-px"
                                src="assets/icons-img/cancel-only-signup@2x.png" /></div>
                          </button>
                        </div>
                      </div>
                  </div>
                    <!-- <div class="upload-part">
                      <div class="row no-gutters justify-content-center">
                        <div class="col-12">
                          <div class="button-container text-center mt-2">
                            <button class="d8p-btn-default mt-3 margin-left-95" (click)="requestCard()" id="btnConfirm">
                              <div class="--text">Request Card</div>
                              <div class="--icon"><img class="p-1 max-width-30-px"
                                  src="assets/icons-img/tick-only-signup@2x.png" /></div>
                            </button>
                          </div>
                        </div>
                      </div>
                          <div class="button-container text-center mt-2">
                            <button class="d8p-btn-default mt-3 margin-left-95" routerLink="/dashboard" id="btnConfirm">
                              <div class="--text">Cancel</div>
                              <div class="--icon"><img class="p-1 max-width-30-px"
                                  src="assets/icons-img/cancel-only-signup@2x.png" /></div>
                            </button>
                          </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>


        </mat-sidenav-content>
      </mat-sidenav-container>
</div>