<div>
  <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
  <label class="handburger" for="myInput">
          <span class="bar top"></span>
          <span class="bar middle"></span>
          <span class="bar bottom"></span>
  </label>
  <!-- Nav block - start -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" position="end">
        <mat-nav-list>
          <app-matsidenav></app-matsidenav>
        </mat-nav-list>
      </mat-sidenav>
      <!-- Nav block - end -->
      <mat-sidenav-content fxFlexFill>
        <div class="container-fluid p-0">
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="dashboard-header-box" *ngIf="!isMerchant">
                <app-dashboard-header></app-dashboard-header>
              </div>
            </div>
          </div>
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="dashboard-header-box" *ngIf="isMerchant">
                <app-split-header></app-split-header>
              </div>
            </div>
          </div>
          
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9"> 
              <div class="dashboard-content-box pb-5">
                <!-- Quick links -->
                <div class="container-fluid quicklinkbg">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            BANK LOAD
                          </div>
                        </div>
                        <div class="row no-gutters mt-2 mt-xl-4 pb-xl-4 mb-3 mb-xl-5 flex-valign-75">
                          <div class="col-3 flex-align-center flex-column border-right-white">
                            <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-bankload2.png" /></div>
                          </div>
                          <div class="col-9 pl-3 color-white font-size-15">
                              Funds residing in my internet banking account will be used to load my D-8P Acc. MYR e-Wallet.
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>               
                <form (submit)="submit()">
                  <!-- Secret -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Acknowledgement
                            </div>
                          </div>
                          <div class="row no-gutters justify-content-center mt-4 mb-4">
                            <div class="col-10" style="text-align: center;">
                              <!-- "https://c-cl.cdn.smule.com/rs-s89/arr/5e/4c/998dba1f-eb82-413d-8c72-6a8baad4121e.jpg" -->
                              <img class="secure-image" src="{{ secureImage }}" alt="" srcset="">
                              <br>
                              <!-- <input class="d8p-input-normal" placeholder="" type="text" name="password" [(ngModel)]="password" /> -->
                              <p *ngIf="secretPhrase != undefined">{{ secretPhrase }}</p>

                              <input type="checkbox" name="ack" id="ack" [(ngModel)]="ack" (click)="chkChanged()">  I acknowledge this is my Private Image and/or Private Word.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Password -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Password
                            </div>
                          </div>
                          <div class="formPlaceholder row no-gutters justify-content-center mt-4 mb-4">
                            <div class="col-10" style="text-align: center;">
                              <input class="d8p-form d8p-input-normal" placeholder="" type="password" name="password" id="password" 
                                      [(ngModel)]="password" [type]="hide ? 'password' : 'text'" disabled/>
                              <i class="bi-eye-slash" id="togglePassword" (click)="togglePassword()"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Confirmation -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Next Step
                            </div> 

                            <br><br>

                            <div class="row no-gutters justify-content-center">
                              <div class="col-11">
                                <div class="button-container text-center mt-2">
                                  <button class="d8p-btn-default mt-3 margin-left-20" id="login" disabled>
                                    <div class="--text">Continue</div>
                                    <div class="--icon"><img class="p-1 max-width-30-px"
                                        src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                    </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
                
              </div>

            </div>
          </div>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<ngx-spinner size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">
    Your request is being submitted. This may take a while.<br><br>
    Please do not close this window or click the Back button on your browser or device.
  </p>
</ngx-spinner>