<div>
  <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
  <label class="handburger" for="myInput">
          <span class="bar top"></span>
          <span class="bar middle"></span>
          <span class="bar bottom"></span>
  </label>
  <!-- Nav block - start -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" position="end">
        <mat-nav-list>
          <app-matsidenav></app-matsidenav>
        </mat-nav-list>
      </mat-sidenav>
      <!-- Nav block - end -->
      <mat-sidenav-content fxFlexFill>
        <div class="container-fluid p-0">
          
          
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9"> 
              <div class="qr-content-box">
                <!-- QR Scanner -->
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <app-qr-view></app-qr-view>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid">
                  <div class="row no-gutters justify-content-center">
                    <div class="col-12 col-xl-9">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">Scan QR</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                                
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>