<div>
  <input type="checkbox" id="myInput" (click)="sidenav.toggle()" style="display: none;">
  <label class="handburger" for="myInput">
          <span class="bar top"></span>
          <span class="bar middle"></span>
          <span class="bar bottom"></span>
  </label>
  <!-- Nav block - start -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" position="end">
        <mat-nav-list>
          <app-matsidenav></app-matsidenav>
        </mat-nav-list>
      </mat-sidenav>
      <!-- Nav block - end -->
      <mat-sidenav-content fxFlexFill>
        <div class="container-fluid p-0">
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="dashboard-header-box">
                <app-dashboard-header></app-dashboard-header>
              </div>
            </div>
          </div>
          
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9"> 
              <div class="dashboard-content-box pb-5">
                <!-- Quick links -->
                <div class="container-fluid quicklinkbg">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            BANK LOAD
                          </div>
                        </div>
                        <div class="row no-gutters mt-2 mt-xl-4 pb-xl-4 mb-3 mb-xl-5 flex-valign-75">
                          <div class="col-3 flex-align-center flex-column border-right-white">
                            <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-bankload2.png" /></div>
                          </div>
                          <div class="col-9 pl-3 color-white font-size-15">
                              Funds residing in my internet banking account will be used to load my D-8P Acc. MYR e-Wallet.
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>               
                
                <!-- Secret -->
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            Download
                          </div>
                        </div>
                        <div class="row no-gutters justify-content-center mt-4 mb-4">
                          <div class="col-10" style="text-align: center;">

                            <p>The Bank Load feature requires the D8P Helper App. Please make sure you have installed the app and that it is running.</p>
                            <a href="https://store2.gofile.io/download/70ee7f3f-76b3-4c03-b718-ff6c7998e0cb/Carmin.apk">Download Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>

            </div>
          </div>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

