<div>
  <button class="d8p-handburger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
    <mat-icon>
      <svg width="25" height="45">
        <path d="M0,3 25,3" stroke="#fff" stroke-width="3"/>
        <path d="M0,12 25,12" stroke="#fff" stroke-width="3"/>
        <path d="M0,21 25,21" stroke="#fff" stroke-width="3"/>
    </svg>
    </mat-icon>
  </button>
  <!-- Nav block - start -->
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="over" position="end">
        <mat-nav-list>
          <div class="mt-4" mat-list-item routerLink="/update-profile"><small><img class="m-2 max-width-20" src="assets/icons-img/user-dp.png" /></small>Update Profile</div>
          <div class="mt-4" mat-list-item routerLink="/recent-transactions"><small><img class="m-2 max-width-20" src="assets/icons-img/d8p-inbox.svg" /></small>Recent transaction</div>
          <div class="mt-2" mat-list-item routerLink="/login"><small><img class="m-2 max-width-20" src="assets/icons-img/d8p-logout.svg" /></small>Logout</div>
        </mat-nav-list>
      </mat-sidenav>
      <!-- Nav block - end -->
      <mat-sidenav-content fxFlexFill>
        <div class="container-fluid p-0">
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9">
              <div class="dashboard-header-box">
                <app-dashboard-header></app-dashboard-header>
              </div>
            </div>
          </div>
          
          <div class="row no-gutters justify-content-center">
            <div class="col-12 col-xl-9"> 
              <div class="dashboard-content-box pb-5">
                <!-- Quick links -->
                <div class="container-fluid quicklinkbg">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            BANK LOAD
                          </div>
                        </div>
                        <div class="row no-gutters mt-2 mt-xl-4 pb-xl-4 mb-3 mb-xl-5 flex-valign-75">
                          <div class="col-3 flex-align-center flex-column border-right-white">
                            <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-bankload2.png" /></div>
                          </div>
                          <div class="col-9 pl-3 color-white font-size-15">
                              Funds residing in my internet banking account will be used to load my D-8P Acc. MYR e-Wallet.
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Amount -->
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            Amount (RM)
                          </div>
                        </div>
                        <div class="row no-gutters justify-content-center mt-4 mb-4">
                          <div class="col-10">
                            <input class="d8p-input-normal" placeholder="Ex: 100" type="number" name="transfer-amount" [(ngModel)]="amount" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Internet Banking Channels -->
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            Internet Banking Channels
                          </div>
                        </div>

                        <!--  BANKS WITH IMAGES: BASIC RADIO BUTTON-->
                        <div class="row no-gutters justify-content-center mt-4 mb-4">
                          <div class="col-4 border-right-grey">
                            <div class="height-60 flex-align-center text-center">
                              <input type="radio" id="mayBank" value="mayBank" name="bankChannels" (change)="selectBank(1)" checked>
                              <img class="max-width-40" src="assets/icons-img/maybank-ios-ltst@3x.png" /></div>
                          </div>
                          <div class="col-4 border-right-grey">
                            <div class="height-60 flex-align-center text-center">
                              <input type="radio" id="cimbBank" value="cimbBank" name="bankChannels" (change)="selectBank(2)" disabled>
                              <img class="max-width-40" src="assets/icons-img/cimb-ios-ltst@3x.png" /></div>
                          </div>
                          <div class="col-4 flex-column">
                            <div class="height-60 flex-align-center text-center">
                              <input type="radio" id="rhbBank" value="rhbBank" name="bankChannels" (change)="selectBank(3)" disabled>
                              <img class="max-width-40" src="assets/icons-img/rhb-ios-ltst@3x.png" /></div>
                          </div>
                          <div class="col-4 border-top-grey border-right-grey">
                            <div class="height-60 flex-align-center text-center">
                              <input type="radio" id="bankRakyat" value="bankRakyat" name="bankChannels" (change)="selectBank(4)" disabled>
                              <img class="max-width-40" src="assets/icons-img/irakyat-ios-ltst@3x.png" /></div>
                          </div>
                          <div class="col-4 border-top-grey border-right-grey">
                            <div class="height-60 flex-align-center text-center">
                              <input type="radio" id="publicBank" value="publicBank" name="bankChannels" (change)="selectBank(5)" disabled>
                              <img class="max-width-40" src="assets/icons-img/publicbank-ios-ltst@3x.png" /></div>
                          </div>
                          <div class="col-4 border-top-grey">
                            <div class="height-60 flex-align-center text-center">
                              <input type="radio" id="bankMuamalat" value="bankMuamalat" name="bankChannels" (change)="selectBank(6)" disabled>
                              <img class="max-width-40" src="assets/icons-img/agrobank-ios-ltst@3x.png" /></div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Reference -->
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            Reference
                          </div>
                        </div>
                        <div class="row no-gutters justify-content-center mt-4 mb-4">
                          <div class="col-10">
                            <input class="d8p-input-normal" placeholder="Ex: May transfer" type="text" name="reference number" [(ngModel)]="reference"  />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Confirmation -->
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-12">
                      <div class="container-fluid p-0 menu-grid">
                        <div class="row no-gutters justify-content-center">
                          <div class="col-12 col-xl-9 titlebg">
                            Confirmation
                          </div>
                        </div>
                        <div class="row no-gutters justify-content-center mt-4 mb-4">
                          <div class="col-10">
                            <div class="button-container text-center">

                              <form ngNoForm action="{{ botUrl }}" method="POST" (click)="doWithdrawal();">                              
                                <textarea id="SESSION-ARGS" name="SESSION-ARGS" style="display:none">{{ sessionArgs }}</textarea>
                                <button type="submit" class="d8p-btn-default">
                                  Confirm
                                  <span class="ml-2"><img class="p-1 max-width-25-px" src="assets/icons-img/icon-correct2.png" /></span>
                                </button>
                              </form>
                              
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>

            </div>
          </div>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
</div>