<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div class="login-bg">
                <div class="d8p-main-back-btn">
                    <img class="max-width-40 mb-4" src="assets/icons-img/logod81.png" routerLink="/login" />
                    <img class="max-width-60" src="assets/icons-img/linegrey1.png" />
                </div>
                <div class="login-container max-width-100 overflow-hidden">
                    <div class="text-center mt-xl-4 mb-4 pt-5">
                        <img class="mt-lg-5 pt-lg-5" src="assets/icons-img/logod8p2.png" />
                        <div class="d8p-h4 color-cyan">WEALTH. HUMANITY. SECURE</div>
                    </div>
                    <form>
                        <div class="formfield max-width-100">
                            <div class="input-group mb-3 group-input-border-radius">
                                <input 
                                    type="text" 
                                    class="form-control d8p-input min-height-60" 
                                    placeholder="User name" 
                                    pattern="([A-z0-9À-ž]){2,}" 
                                    maxlength="16" 
                                    name="username" 
                                    [(ngModel)]="services.username"
                                    aria-label="Recipient's username" 
                                    aria-describedby="basic-addon2"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text group-input-icon-field" id="basic-addon2" routerLink="/loginPwd" >
                                        <button class="d8p-transparent-btn" *ngIf="services.username">
                                            <img class="max-width-100" src="assets/icons-img/icon-correct1.png"  />
                                        </button>
                                        <button class="d8p-transparent-btn" *ngIf="!services.username">
                                            <img class="max-width-100" src="assets/icons-img/icon-correct2.png"  />
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="button-container text-center">
                            <button class="d8p-btn-default">
                                Signup
                                <span class="ml-2"><img class="max-width-25-px" src="assets/icons-img/icon-signup1.png" /></span>
                            </button>
                        </div>
                    </form>
                </div>
                
                <div class="sponsored text-center">
                    <img class="max-width-40 mr-2 mr-xl-4" src="assets/icons-img/logod8s1.png" />
                    <img class="max-width-40 ml-2 ml-xl-4" src="assets/icons-img/logokomeps.png" />
                </div>
            </div>
        </div>
    </div>
</div>