<!-- <nav>
<div class="nav-menu">
        <input type="checkbox" id="myInput">
        <label class="handburger" for="myInput">
                <span class="bar top"></span>
                <span class="bar middle"></span>
                <span class="bar bottom"></span>
        </label>
        <div id="overlay"></div>
        
            <ul> 
                <li><a routerLink="/update-profile">Update Profile</a></li>
            </ul>
        
</div>
</nav> -->
        <div class="navItem text-center" mat-list-item routerLink="/dashboard">Home</div>  
        <div class="navItem text-center" mat-list-item routerLink="/update-profile">Update Profile</div>    
        <div class="navItem text-center" mat-list-item *ngIf="isNotIdVerified && !isMerchant" routerLink="/id-verification">National/Government ID</div>
        <div class="navItem text-center" mat-list-item *ngIf="isNotIdVerified && isMerchant" routerLink="/merchant-cert">National/Government ID</div>
        <div class="navItem text-center" mat-list-item *ngIf="!bankData && allowWithdrawal" routerLink="/add-bank">Add Bank Withdraw</div>
        <div class="navItem text-center" mat-list-item *ngIf="bankData && allowWithdrawal" routerLink="/update-bank">Update Bank Withdraw</div>
        <div class="navItem text-center" mat-list-item *ngIf="!bankLoadData" routerLink="/add-bank-load">Add Bank Load</div>
        <div class="navItem text-center" mat-list-item *ngIf="bankLoadData" routerLink="/update-bank-load">Update Bank Load</div>
        <div class="navItem text-center" mat-list-item *ngIf="!isMerchant" routerLink="/topup-amount">Topup by Merchant</div>
        <div class="navItem text-center" mat-list-item *ngIf="isMerchant" routerLink="/qr-code">Scan QR Topup</div>
        <div class="navItem text-center" mat-list-item *ngIf="requestCard" routerLink="/card-request"><small></small>Request D-8P Card</div>
        <div class="navItem text-center" mat-list-item routerLink="/recent-transactions">Recent Transactions</div>
        <div class="navItem text-center" mat-list-item (click)="logout()">Logout</div>