<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div id="container">
                <div class="userAgreement-bg">
                    <div class="d8p-main-back-btn">
                        <div class="row no-gutters">
                            <div class="col-9">
                                <div class="dashboard-header">
                                    <div class="text-center">
                                        <img class="logo" src="assets/icons-img/logo-title-signup@3x.png"
                                            routerLink="/login" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="userAgreement-body container-fluid p-0">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-10 col-xl-6">
                                    <div class="modal-title text-center mt-2 mb-2">
                                        User Agreement
                                    </div>
                                    <div class="userAgreement-content container-fluid">
                                        <div class="row no-gutters justify-content-center">
                                            <div class="col-12 col-xl-6">
                                                <div class="userAgreement-tnc container-fluid p-0">
                                                    <app-terms-condition></app-terms-condition>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="d-flex flex-row justify-content-center align-items-center ml-3">
                                        <div class="arrows">
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-12">
                                        <div class="button-container text-center mt-2">
                                            <a class="d8p-btn-default" (click)="toSignup()">
                                                <div class="--text">Yes, I Agree</div>
                                                <div class="--icon"><img class="p-1 max-width-30-px" src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>