<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div id="container">
                <div class="userAgreement-bg">
                    <div class="d8p-main-back-btn">
                        <div class="row no-gutters">
                            <div class="col-9">
                                <div class="dashboard-header">
                                    <div class="text-center">
                                        <img class="logo" src="assets/icons-img/logo-title-signup@3x.png"
                                            routerLink="/login" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="userAgreement-body container-fluid p-0">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-10 col-xl-6">
                                    <div class="modal-title text-center mt-2 mb-2">
                                        Acknowledgement
                                    </div>
                                    <div class="container-success">
                                        <div class="success-box-title">
                                            <h3 class="success-title mt-2">Success!</h3>
                                        </div>
                                        <div class="success-box-body">
                                            <p class="success-body">Within 2-3 hours, an introduction email will be
                                                sent to your registered email address. Please
                                                follow the directions outlined in the email.
                                                <br>
                                                We are happy to receive you as part of the
                                                D-8P System family. See you on the other side!
                                            </p>
                                        </div>
                                        <div class="success-box-btn">
                                            <div class="button-container text-center mt-2">
                                                <a class="d8p-btn-default mt-3 margin-left-56" routerLink="/login">
                                                    <div class="--text">Okay</div>
                                                    <div class="--icon"><img class="p-1 max-width-30-px" src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>