<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div id="container">
                <div class="invalid-bg">
                    <div class="d8p-main-back-btn">
                        <div class="row no-gutters">
                            <div class="col-9">
                                <div class="dashboard-header">
                                    <div class="text-center">
                                        <img class="logo" src="assets/icons-img/logo-title-signup@3x.png"
                                            routerLink="/dashboard" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invalid-body container-fluid p-0">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-10 col-xl-6">
                                    <div class="container-success">
                                        <div class="invalid-box-title">
                                            <h3 class="success-title mt-2">Invalid QR Link</h3>
                                        </div>
                                        <div class="invalid-box-body">
                                            <p class="success-body">
                                                QR Topup are only for Merchant
                                            </p>
                                        </div>
                                        <div class="invalid-box-btn">
                                            <div class="button-container text-center mt-2">
                                                <a class="d8p-btn-default mt-3 margin-left-56" (click)="qrcode()">
                                                    <div class="--text">Scan Again</div>
                                                    <div class="--icon"><img class="p-1 max-width-30-px" src="assets/icons-img/tick-only-signup@2x.png" /></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>