<div class="container-fluid common-cls loginpg grey-gradient p-0">
    <div class="row">
        <div class="col-12">
            <div class="login-bg">
                <div class="d8p-main-back-btn">
                    <div class="row no-gutters">
                        <div class="col-9">
                            <div class="dashboard-header">
                                <div class="text-center">
                                    <img class="logo" src="assets/icons-img/logo-title-signup@3x.png"
                                        routerLink="/login" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="signupline" src="assets/icons-img/line-gradient-signup.png" />
                    <div class="login-container max-width-100 overflow-hidden">
                        <div class="text-center mb-3">
                            <img class="max-width-30" src="assets/icons-img/d-8logonew-login@2x.png" />
                        </div>
                        <div class="input-group mb-3 group-input-border-radius">
                            <input type="text" class="form-control d8p-input min-height-60" placeholder="New Username"
                                pattern="([A-z0-9À-ž]){1,}" minlength="4" maxlength="12" name="newusername" #newusername="ngModel"
                                [(ngModel)]="services.newusername" aria-label="Recipient's newusername"
                                aria-describedby="basic-addon2" required>
                            <!-- <div *ngIf="newusername.touched && ! newusername.valid" class="alert alert-danger">
                                <div *ngIf="newusername.errors?.required">
                                    Username is required.
                                </div>
                                <div *ngIf="newusername.errors?.minlength">
                                    Username must be at least 4 characters long.
                                </div>
                            </div> -->
                        </div>
                            <form (submit)="submit()">
                                <div class="formfield max-width-100">
                                    <div class="input-group mb-3 group-input-border-radius">
                                        <input type="password" class="form-control d8p-input min-height-60"
                                            placeholder="New Password" pattern="([A-z0-9À-ž]){1,}" minlength="4" maxlength="12"
                                            name="newpwd" [(ngModel)]="services.newpassword"
                                            aria-label="Recipient's newpassword" aria-describedby="basic-addon2"
                                            autocomplete="new-password" id="updatePassword">
                                    </div>
                                </div>
                                <div class="formfield max-width-100">
                                    <div class="input-group mb-3 group-input-border-radius">
                                        <input type="password" class="form-control d8p-input min-height-60"
                                            placeholder="Confirm New Password" pattern="([A-z0-9À-ž]){1,}" maxlength="16"
                                            name="newpwd" [(ngModel)]="services.confirmnewpassword"
                                            aria-label="Recipient's newpassword" aria-describedby="basic-addon2"
                                            autocomplete="new-password" id="updateConfirmPassword"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text group-input-icon-field" id="basic-addon2">
                                                <button class="d8p-transparent-btn" *ngIf="services.newpassword">
                                                    <img class="btnicon" src="assets/icons-img/icon-login2.png" />
                                                </button>
                                                <button class="d8p-transparent-btn" *ngIf="!services.newpassword">
                                                    <img class="btnicon" src="assets/icons-img/icon-login1.png" />
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <input type="checkbox" class="tnc-checkbox" id="showPassword" (click)="showPasswd()">
                            <span class="d8p-showpasswd-text">Show Password</span>
                            </form>
                            <img class="signupline" src="assets/icons-img/line-gradient-login-bottom.png" />
                            <div class="sponsored text-center">
                                <img class="max-width-20 mr-2 mr-xl-4" src="assets/icons-img/d-8pplus-sponsored@3x.png" />
                                <img class="max-width-20 mr-2 mr-xl-4" src="assets/icons-img/short-line-gradient.png" />
                                <img class="max-width-30 mr-2 mr-xl-4 " src="assets/icons-img/komeps-sponsored@3x.png" />
                                <img class="max-width-20 mr-2 mr-xl-4" src="assets/icons-img/short-line-gradient.png" />
                                <img class="max-width-20 ml-2 ml-xl-4" src="assets/icons-img/d8p-eid@2x.png" />
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <ngx-spinner size="medium" color="#fff" type="ball-spin-clockwise">
            <p style="font-size: 20px; color: white">Please wait...</p>
          </ngx-spinner>