<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-12 subtitlebg">
      <div class="row no-gutters justify-content-center">
        <div class="col-12 col-xl-9">
          <div>WITHDRAW: RM 100.00</div>
          <img
            class="d-flex max-width-60 margin-zero-auto"
            src="assets/icons-img/linewhite2.png"
          />
          <div>Effective 24 AUG 2020 (Today)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12">
      <div class="bankdetailview">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-6">
            <div class="row no-gutters">
              <div class="col-6 flex-align-center text-center flex-column">
                <div class="transaction-box flex-align-center">
                  <div class="d-flex flex-row">
                    <span class="mr-2"
                      ><img
                        class="wh-20-20"
                        src="assets/icons-img/icon-info3.png"
                    /></span>
                    <div
                      class="summary-currency-view"
                      style="
                        min-width: 128px;
                        min-height: 28px;
                        padding: 0 0.4rem;
                      "
                    >
                      <span class="mr-2"
                        ><img src="assets/icons-img/icon-creditsmall2.png"
                      /></span>
                      RM 100.05
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1 flex-align-center text-center">
                <div class="">
                  <img
                    class="max-width-60"
                    src="assets/icons-img/linegrey2.png"
                  />
                </div>
              </div>
              <div class="col-2 flex-align-center text-center">
                <div class="">
                  <img
                    class="max-width-60"
                    src="assets/icons-img/icon-creditbig1.png"
                  />
                </div>
              </div>
              <div class="col-3 flex-align-center text-center flex-column">
                <div class="d8p-h6 font-weight-bold mb-1 line-height-15">
                  MAY BANK ACCOUNT
                </div>
                <div>
                  <img
                    class="max-width-100"
                    src="assets/icons-img/logomaybank1.png"
                  />
                </div>
                <div class="d8p-h6 mb-1 line-height-15">Ahmad Hannan</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
