<div>
    <button class="d8p-handburger" mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
    <!-- Nav block - start -->
      <mat-sidenav-container>
        <mat-sidenav #sidenav>
          <mat-nav-list>
            <a href="#" mat-list-item><small><img class="mr-2 w-50" src="assets/icons-img/d8p-inbox.svg" /></small>Recent transaction</a>
            <a href="#" mat-list-item><small><img class="mr-2 w-50" src="assets/icons-img/d8p-logout.svg" /></small>Logout</a>
          </mat-nav-list>
        </mat-sidenav>
        <!-- Nav block - end -->
        <mat-sidenav-content fxFlexFill>
          <div class="container-fluid p-0">
            <div class="row no-gutters justify-content-center">
              <div class="col-12 col-xl-9">
                <div class="dashboard-header-box">
                  <app-dashboard-header></app-dashboard-header>
                </div>
              </div>
            </div>
            
            <div class="row no-gutters justify-content-center">
              <div class="col-12 col-xl-9"> 
                <div class="dashboard-content-box">
                  <!-- Quick links -->
                  <div class="container-fluid quicklinkbg">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Quick Links
                            </div>
                          </div>
                          <div class="row no-gutters mt-2 mt-xl-4 pb-xl-4 mb-3 mb-xl-5">
                            <div class="col-3 flex-align-center flex-column border-right-white">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info2.png" /></div>
                              <div class="height-60 text-center" routerLink="/transfer"><img class="max-width-60" src="assets/icons-img/icon-transfer2.png" /></div>
                            </div>
                            <div class="col-3 flex-align-center flex-column border-right-white">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info2.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-50" src="assets/icons-img/icon-utilities2.png" /></div>
                            </div>
                            <div class="col-3 flex-align-center flex-column border-right-white">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info2.png" /></div>
                              <div class="height-60 text-center" routerLink="/bankload"><img class="max-width-60" src="assets/icons-img/icon-bankload2.png" /></div>
                            </div>
                            <div class="col-3 flex-align-center flex-column">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info2.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-buygold2.png" /></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Transfer -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Transfer
                            </div>
                          </div>
                          <div class="row no-gutters mt-2 mb-4">
                            <div class="col-4 flex-align-center flex-column border-right-grey pb-4 pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-30" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center" routerLink="/bankload"><img class="max-width-60" src="assets/icons-img/icon-bankload1.png" /></div>
                            </div>
                            <div class="col-4 flex-align-center flex-column border-right-grey pb-4 pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-30" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center" routerLink="/transfer"><img class="max-width-60" src="assets/icons-img/icon-transfer1.png" /></div>
                            </div>
                            <div class="col-4 flex-align-center flex-column pb-4 pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-30" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-buygold1.png" /></div>
                            </div>
                            <div class="col-4 flex-align-center flex-column border-top-grey border-right-grey pt-2 pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-30" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center" routerLink="/withdraw"><img class="max-width-60" src="assets/icons-img/icon-withdraw1.png" /></div>
                            </div>
                            <div class="col-4 flex-align-center flex-column border-top-grey border-right-grey pt-2 pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-30" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-remitgold1.png" /></div>
                            </div>
                            <div class="col-4 flex-align-center flex-column border-top-grey pt-2 pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-30" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-sellgold1.png" /></div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Payment -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Payment
                            </div>
                          </div>
                          <div class="row no-gutters mt-2 mb-2">
                            <div class="col-3 flex-align-center flex-column border-right-grey pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-salaryfew1.png" /></div>
                            </div>
                            <div class="col-3 flex-align-center flex-column border-right-grey pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-salarybig1.png" /></div>
                            </div>
                            <div class="col-3 flex-align-center flex-column border-right-grey pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-50" src="assets/icons-img/icon-utilities1.png" /></div>
                            </div>

                            <div class="col-3 flex-align-center flex-column pb-xl-5">
                              <div class="text-right w-100 pr-2"><img class="max-width-40" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-50" src="assets/icons-img/icon-donate1.png" /></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Advanced Gold Services -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Advanced Gold Services
                            </div>
                          </div>
                          <div class="row no-gutters mt-2 mb-2">
                            <div class="col-6 flex-align-center flex-column border-right-grey pb-4">
                              <div class="text-right w-100 pr-2"><img class="max-width-20" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-redeem.png"  width="120" /></div>
                            </div>
                            <div class="col-6 flex-align-center flex-column pb-4">
                              <div class="text-right w-100 pr-2"><img class="max-width-20" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-pledge.png"  width="120" /></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Market Place -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Market Place
                            </div>
                          </div>
                          <div class="row no-gutters mt-2 mb-2">
                            <div class="col-6 flex-align-center flex-column border-right-grey pb-4">
                              <div class="text-right w-100 pr-2"><img class="max-width-20" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-buynear.png" width="120" /></div>
                            </div>
                            <div class="col-6 flex-align-center flex-column pb-4">
                              <div class="text-right w-100 pr-2"><img class="max-width-20" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/icon-buyglobal.png" width="160" /></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Invest -->
                  <div class="container-fluid">
                    <div class="row no-gutters">
                      <div class="col-12">
                        <div class="container-fluid p-0 menu-grid">
                          <div class="row no-gutters justify-content-center">
                            <div class="col-12 col-xl-9 titlebg">
                              Invest
                            </div>
                          </div>
                          <div class="row no-gutters mt-2 mb-2">
                            <div class="col-6 flex-align-center flex-column border-right-grey pb-4">
                              <div class="text-right w-100 pr-2"><img class="max-width-20" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/myr_D8PMM.png" width="120" /></div>
                            </div>
                            <div class="col-6 flex-align-center flex-column pb-4">
                              <div class="text-right w-100 pr-2"><img class="max-width-20" src="assets/icons-img/icon-info1.png" /></div>
                              <div class="height-60 text-center"><img class="max-width-60" src="assets/icons-img/myr_D8PETF.png" width="120" /></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>
</div>