<p>KOMEPS FINTECH SDN BHD <br>
    By submitting your Merchant Application Form, you acknowledge that you have read and
    fullyunderstood and agree to be bound by all of the terms and conditions of this agreement,
    the privacynotice and all documents incorporated by reference upon the approval of your
    application by us, theapproval of which is at our sole and absolute discretion.
</p>
<p>
    Merchant Agreement (E-Wallet, Card Payment and Mobile Payment)
    <br>
    This Merchant Agreement is made on the date as set out in the Merchant Registration Form
    between (1) KOMEPS Fintech Sdn Bhd (1310188-M), a company incorporated in Malaysia
    and having its business address at D17-07 Sunway Nexis, Jalan PJU 5/1, Kota Damansara,
    47810, Petaling Jaya, Selangor, and (2) the Merchant, whose description is set out in the
    Merchant Registration Form (hereinafter individually referred to as the “Party” or collectively
    as the “Parties”) which upon your execution (electronic or otherwise), the Parties shall be
    bound by the terms and conditions set forth herewith.
</p>
<p>
    Whereas <br> 1. KOMEPS is an electronic payment system operator in the business of inter alia
    providing payment solutions to facilitate payments from a customer to a merchant
    through the use of D8P E-Wallet, Card Payment and Mobile Payment Services; <br> 2. . The Merchant is as the described
    category in the Merchant Registration Form and is
    desirous of appointing KOMEPS to provide the D8P E-Wallet, Card Payment and
    Mobile Payment Services via the E-Wallet Services, POS Terminal, and QR Code in
    order to facilitate payment from the Merchant<span>&#39;</span>s customers and clients to the
    Merchant in respect of goods and/or services provided by the Merchant; and <br> 3. KOMEPS accepts the said appointment
    and the Parties agree to regulate their
    relationship in accordance with the terms and conditions herein contained. <br> Therefore, the Parties now hereby agree as follows: 

</p>
    <h5>1. Definitions and Interpretation</h5>
    <p>1.1 . The following shall have the meanings assigned to them hereunder:</p>
<table width="100%">
    <tr>
        <td>“Agreement”:</td>
        <td>means this Merchant Agreement, any cover pages hereto, any
            schedules, appendices, exhibits and annexes hereto, and any
            other terms and conditions incorporated by reference;</td>
    </tr>
    <tr>
        <td>"Business Day(s)":</td>
        <td>means any day not being Saturday, Sunday or a public or bank
            holiday in Kuala Lumpur;</td>
    </tr>
    <tr>
        <td>“Cleared Funds”</td>
        <td>means the sum of monies collected from the User in respect of
            a Transaction less the MDR and/or any other KOMEPS Fees
            (as may be applicable);</td>
    </tr>
    <tr>
        <td>“Confidential Information”</td>
        <td>means any information or material which is: <br>(i) marked as “Confidential”, “Proprietary”, or “Restricted”;
            <br>(ii) not generally known outside of the Parties (including their subsidiaries and affiliates) or otherwise not available to the general public at the time of the disclosure; and/or <br>(iii) without derogating from the generality of the
            foregoing, the terms of this Agreement, business plans, materials, specifications, techniques, models, analysis, compilations,
            forecasts, studies, experiences, concepts, ideas, technology, documentations, reports, inventions, discoveries, drawings,
            design, logos and trademarks, devices, processes, procedures, know-how, improvements, budgets, under the circumstances
            surrounding disclosure, ought to be treated as confidential;
        </td>
    </tr>
    <tr>
        <td>“Government Authority”</td>
        <td>means Bank Negara Malaysia (BNM) and any other government (including quasi- government) ministry, agency,
            institution, local authority or department having jurisdiction over the Parties and/or the subject matter herein;</td>
    </tr>
    <tr>
        <td>“Laws”</td>
        <td>means the applicable law as stated in Clause 18.10 (and if no country is specified, then the applicable shall be deemed to be
            the laws of Malaysia)</td>
    </tr>
    <tr>
        <td>“Merchant”</td>
        <td>means the merchant as named and more particularly described in the Merchant Registration Form </td>
    </tr>
    <tr>
        <td>“Merchant Bank Account”</td>
        <td>means a Ringgit Malaysia account held by, in the name of, and maintained by the Merchant at a licensed financial institution or
            bank in Malaysia and recognized and acceptable to KOMEPS;</td>
    </tr>
    <tr>
        <td>“MDR” or “Commission Profile”</td>
        <td>means the merchant discount rate being the fee deductible by and payable to KOMEPS in consideration for the D8P E-Wallet
            and Mobile Payment Service;</td>
    </tr>
    <tr>
        <td>“E-Wallet”</td>
        <td>means the D8P E-Wallet, the Electronic Wallet system provided by KOMEPS using Progressive Web App (PWA)
            through secured worldwide web using desktop or mobile phone;</td>
    </tr>
    <tr>
        <td>“POS Terminal””</td>
        <td>means Point of Sales Terminal provided by KOMEPS to facilitate Card Payment and other applications;</td>
    </tr>
    <tr>
        <td>“QR Code” </td>
        <td>means a “Quick-Response” code consisting of black and white squares storing information readable either by <br> (i) the camera of
            a mobile device containing the downloadable D8P E-Wallet app; and <br> (ii) a QR Code scanner or terminal for the purposes of
            facilitating the D8P Mobile Payment Service.
        </td>

    </tr>
    <tr>
        <td>“RM” or “Ringgit Malaysia”</td>
        <td>means the lawful currency of Malaysia;</td>
    </tr>
    <tr>
        <td>“Settlement of Cleared Funds”</td>
        <td>means the settlement and transfer of the Cleared Funds into the Merchant Bank Account in accordance with Clause 4.1;</td>
    </tr>
    <tr>
        <td>“Settlement Period”</td>
        <td>means one (1) Business Day or three (3) Business Days in the event of any system error which shall not be inclusive of the
            day the Transaction was made;</td>
    </tr>
    <tr>
        <td>“Term” </td>
        <td>means the duration of one (1) calendar year from the date of this Agreement and including any renewals thereto;</td>
    </tr>
    <tr>
        <td>“KOMEPS”</td>
        <td>means KOMEPS FINTECH SDN BHD (Company No. 1310188-M) with its operational office at D17-07, Sunway Nexis,
            Jalan PJU 5/1, 47810, Kota Damansara, Petaling Jaya and Call Centre at No. 3, Lorong Perusahaan 1A, Kawasan
            Perindustrian PKNS, 45000 Kuala Selangor;</td>
    </tr>
    <tr>
        <td>“KOMEPS E-Wallet,Card Payment, and Mobile Payment Service”</td>
        <td>means KOMEPS<span>&#39;</span>s mobile payment service wherein: <br> (i) a Merchant subscribing to this service, having a
            Merchant Bank Account; <br> • (ii) a Merchant subscribing to this service using
            KOMEPS POS Terminal for Card Payment; <br> (iii) a User subscribing to and/or having a
            KOMEPS mobile wallet account; <br> (iv) a User subscribing to/or having a KOMEPS D8P
            Card <br> may send funds and/or payments for transactions between
            them regardlessof whether the same is done directly,
            facilitated by the Merchant<span>&#39;</span>s platform, through the use of a
            payment gateway (integrated into the Merchant<span>&#39;</span>s website
            otherwise), and/or through other means; </td>

    </tr>
    <tr>
        <td>“KOMEPS Fees”</td>
        <td>means collectively the MDR together with any fee chargeable to the Merchant as provided under this Agreement generally
            which shall be exclusive of taxes;</td>
    </tr>
    <tr>
        <td>“Transaction(s)”</td>
        <td>means typically a payment from a User to the Merchant in respect of a sale of goods or provision of services from the
            Merchant to the User unless the context dictates otherwise or unless specified otherwise in this Agreement;</td>
    </tr>
    <tr>
        <td>“Transaction Amount(s)”</td>
        <td>means the full value of a Transaction between the User and the Merchant without any deduction of the MDR or otherwise
            the actual amount paid by the User to the Merchant in respect of a Transaction;</td>
    </tr>
    <tr>
        <td>“User”</td>
        <td>means an individual or legal person subscribing and using the KOMEPS mobile wallet;</td>

    </tr>
</table>
<p>1.2. The headings used are for convenience only and shall not affect the construction or
    interpretation of this Agreement. <br>1.3. All references to statutes, and provisions of statutes include such statutes and
    provisions as modified, re-certified or re-enacted. <br> 1.4. Unless the contrary intention is evinced, words in the singular include the plural and
    vice- versa; words importing the masculine gender include the feminine and neuter
    and vice-versa; references to persons include bodies corporate, unincorporated
    associations, partnerships or an authority. <br> 1.5. The words “included”, “including”, “in particular” or any similar expression shall be
    construed to as illustrative and not limit the sense of the words preceding them. <br> 1.6. A reference to any Party or any party to any other agreement or document shall
    include the successors and/or permitted assigns of such Party or party. <br> 1.7. This Agreement has been negotiated by the Parties and their respective counsel(s)
    (or otherwise the Parties have received independent advice from their counsels or
    other consultants) and shall be fairly interpreted in accordance with its terms and
    without any strict construction in favour of or against either Party. <br> 1.8. In the event of conflict between the provisions of this Agreement, the conflict shall be
    resolved in the following order of precedence: <br> i. the main terms and conditions; then <br> ii. any other document referred to in this Agreement or attached to this Agreement. </p>


<h5>2. Scope</h5>
<p> 2.1. This Agreement shall encapsulate the terms for the provision of the KOMEPS Mobile
    Payment Service via QR Code as described herein (including, for the avoidance of
    doubt, schedules, appendices, annexes, addendums, attachments and exhibits and
    other documents attached hereto) between KOMEPS and the Merchant and such
    other services as may be agreed between the Parties from time to time
    <br>2.2. This Agreement and the provision of the KOMEPS Mobile Payment Service shall not
    encompass any form of foreign currency exchange or conversion and all transfer
    of monies, e-money or legaltender hereunder between the Parties shall only be
    in RM. Unless indicated otherwise, all fees andother monetary amounts are quoted
    in RM.
</p>

<h5>3. Duration</h5>
<p>3.1. This Agreement shall come into full force commencing from the date of signed
    Merchant Registration Form, and shall continue to be valid for the Term or until
    otherwise sooner terminated in accordance with the terms herein. This Agreement
    shall be automatically renewed for a period of one (1) year upon expiry of the Term
    or expiry of any extended term unless either Party elects to terminate this
    Agreement by issuinga written notice to the effect no less than thirty (30) days before
    expiry of the Term or any extended term.</p>

<h5>4. Description of Services</h5>
<p>
    4.1. The KOMEPS E-Wallet, Card payment, and Mobile Payment Service facilitates the transfer of funds typically (and unless otherwise specified) in respect of payment
from a User to a Merchant to complete a Transaction wherein KOMEPS shall clear and transfer the Cleared Funds to the Merchant Bank Account within the Settlement
Period (hereinafter referred to as the “Settlement of Cleared Funds”). <br> 4.2. Receipt of any monies into the Merchant Bank Account shall not, in and of itself,
amount to clean and unconditional receipt of the Cleared Funds and the same shall be subject to other terms herein. <br> 4.3. Reversal and Refund of Payments: For the avoidance of doubt, the provision of the
KOMEPS E-Wallet, Card payment, and Mobile Payment Service shall not be subject to any refund, “money-back guarantee”, warranties, merchantability, suitability for
use or other such policy that the Merchant may provide to the User (or its customers generally) in respect of the Transaction. Any such policy shall be between the
Merchant and the User and the provision of the KOMEPS E-Wallet, Card payment, and Mobile Payment Service and the Merchant <span>&#39;</span>s obligation to be liable for the MDR
(and other KOMEPS Fees, if applicable) shall not in any way be contingent upon such policy or other business practices of the Merchant. Role of KOMEPS. <br> 4.4. The Merchant acknowledges that KOMEPS acts solely as a payment intermediary
and nothing in this Agreement shall be construed to expand KOMEPS<span>&#39;</span>s role herein as something other than as aforesaid and the Merchant shall not in any way represent to the User, its customers and/or any third party that: <br>
i. KOMEPS acts in any other capacity, including, but not limited to, as a vendor,
purchaser, agent, representative, middle-person, distributor, broker,
manufacturer, dealer, another merchant or otherwise as a party to the
Transaction; and <br> ii. KOMEPS makes any warranties and/or representations whatsoever in respect of
the goods or services being the subject matter of Transaction including, but not
limited to, the quality, merchantability, safety or legality thereof. <br> 4.5. The Transaction shall at all times be between the Merchant and the User and in no
event shall KOMEPS be a party in any resulting dispute over any aspect thereof,
including, but not limited to, issues relating to merchantability, fitness for use, quality,
quantity, or delivery. If in any event KOMEPS shall incur any liability to any third
party as result of or in connection with the foregoing, then the Merchant shall
indemnify KOMEPS for any losses incurred thereby (including any legal or
professional costs). <br> 4.6. In connection with the foregoing, in no event shall KOMEPS be liable or responsible
for unauthorized or fraudulent transactions made by the User and/or any third party
(unless the same shall be due to a fault in the KOMEPS Mobile Payment Service).
The Merchant shall be solely responsible and shall indemnify and/or reimburse
KOMEPS for any refunds or reimbursements made by KOMEPS thereto to the User.
</p>
<h5>5. Rights & Obligations of The Parties </h5>
<p> <u>Rights & Obligations of KOMEPS</u><br> 5.1. KOMEPS shall provide and make available the KOMEPS E-Wallet, Card payment,
and Mobile Payment Service in accordance with the terms herein and any other
guidelines as shall be determined by KOMEPS from time to time. <br> 5.2. KOMEPS reserves the right to suspend, limit certain functionalities and/or terminate
(depending on the severity and at the discretion of KOMEPS) the KOMEPS EWallet, Card payment, and Mobile Payment Service and take such action as may be
expedient or necessary (for compliance with the Laws or otherwise to mitigate its
losses) due to the breach of any terms and conditions herein and/or in any event
that KOMEPS may deem it necessary. <br> 5.3. The Merchant permits, consents and hereby authorises KOMEPS to obtain credit
and financial information relating to the Merchant from third parties including, but not
limited to, third party credit rating agencies and/or to undertake credit and financial
reviews on the Merchant. <br> 5.4. In the event that the Merchant shall have any outstanding KOMEPS Fees or other
amounts generally due and payable to KOMEPS under this Agreement,
KOMEPS reserves the right at its discretion to: <br> i. if within seven (7) days from a demand from KOMEPS, the Merchant shall fail to
settle any outstanding amounts, impose interest on such outstanding amounts at
the rate of eight percent (8%) per annum or four percent (4%) above the base
lending rate of CIMB Bank (whichever shall be higher) calculated on a daily rest
until the same shall be fully settled; and/or <br> ii. deduct such outstanding KOMEPS Fees from future payments of Cleared Funds
or other amounts payable to the Merchant. <br> For the avoidance of doubt, this provision shall not prejudice KOMEPS<span>&#39;</span>s right to
terminate this Agreement if the KOMEPS Fees (or otherwise any amounts due
and payable to KOMEPS) shall have remained outstanding for thirty (30) days or
more in which case KOMEPS shall be entitled to terminate this Agreement at any
time thereafter at its sole discretion. <br><u>Rights & Obligations of the Merchant</u><br>5.5. The Merchant shall make available the KOMEPS E-Wallet, Card payment, and
Mobile Payment Service to the User and/or its customers as the payment method
(or one of the payment methods, as the case may be) for the purposes of
completing any Transactions at no additional cost, surcharge, processing fee or
mark-up whatsoever to the User or its customers generally; i.e. the cost to the User
shall be same as or equal to all other payment methods accepted by the Merchant
including cash. <br> 5.6. The Merchant shall prominently display at its premises the KOMEPS E-Wallet, Card
payment, and Mobile Payment Service and any QR Code standees as provided
by KOMEPSto promote and enable the use of the KOMEPS Mobile Payment
Service. The Merchant shall further comply with any promotional and marketing
guidelines as shall be issued by KOMEPS from time to time. <br> 5.7. The Merchant shall ensure that the POS Terminal, and QR Code standee or any
other similar items are not tampered with, damaged, modified or changed in any
way whatsoever.The Merchant shall further be solely responsible to ensure the POS
Terminal and QR Code standee or any other similar items are kept safe and well
taken care. The Merchant shall not share the POS Terminal and QR Code standee
with any other businesses without the prior consent of KOMEPS in writing. KOMEPS
shall not be liable in anyway whatsoever for any losses or damages that may arise
or suffered by the Merchant due to the failure of the Merchant to comply with the
terms of this clause. <br> 5.8. The Merchant shall duly and diligently comply with any and all guideline(s),
training(s), information material(s), manual(s) and any other similar documents as
may be issued from time to time by KOMEPS.<br>5.9. The Merchant shall not use the KOMEPS Mobile Payment Service in a manner that
may adversely affect the reputation of KOMEPS and the Mobile Payment Service in
any way whatsoever. <br> 5.10. The Merchant shall open and maintain a Merchant Bank Account and/or provide
the relevant information (or verification if necessary) thereof to KOMEPS within
fourteen (14) days from the date of this Agreement and any proposed changes
thereto throughout the duration of this Agreement. KOMEPS shall not be liable for
any losses the Merchant may suffer for any failure of the Merchant to notify KOMEPS
of any proposed change in the Merchant Bank Account or of any other change as
aforesaid. <br> 5.11. The Merchant shall use the KOMEPS Mobile Payment Service only in accordance
with the terms and conditions of this Agreement and as directed by KOMEPS only from time to time. <br> 5.12. The Merchant shall promptly settle any KOMEPS Fees (insofar as the same is not
automatically deducted). <br> 5.13. The Merchant shall not permit to be transacted using the KOMEPS Mobile Payment
Service any of the following transactions or transactions of the following nature, as
the case may be: <br> i. pornographic material or any vulgar and other content prohibited by the Malaysian
Communications and Multimedia Content Code; <br> ii. any sexual services; <br>iii. illegal downloads;
<br> iv. illegal gambling or betting; <br>
v. prescription drugs (unless the Merchant is duly licensed); <br>
vi. any imitation/fake/replica goods or services or those otherwise infringing the
intellectual property rights; <br>
vii. other goods or services the offering or provision of which is illegal under the Laws
(collectively referred to as the “Prohibited Transactions”). <br> 5.14. For the purposes of compliance with the Laws, upon the commencement of this
Agreement and from time to time upon request, the Merchant shall provide (or allow
access, as the case may be) KOMEPS with such information and/or copies of
documents relating to the Merchant<span>&#39;</span>s corporate structure and constitution,
incorporation and statutory documents, nature of business, financial information,
shareholders, directors, partners, members, key employees, and/or beneficiaries. <br> 5.15. Without derogation to the generality of the foregoing clause, the Merchant agrees
to provide KOMEPS upon reasonable request with information and/or copies of
documents (or if requested, certified true copies) relating to the financial and/or
operational status of the Merchant, including, but not limited to, financial statements,
audited accounts, and management accounts. <br> 5.16. Material Changes in the Condition of the Merchant: The Merchant shall inform
KOMEPS without undue delay of any material change in the Merchant, including
but not limited to changes in: (i) its nature of business, including its business model
or the goods or services that it provides; (ii) its corporate structure, including
constitution, shareholding, change in management or control; (iii) any licensing
requirements to which the Merchant is subject including any changes or revocation
of any license or approvals which it requires for its business or otherwise <span>&#39;</span>s
which may have an adverse impact on the Merchant and/or on KOMEPS<span>&#39;</span>s
compliance with the Laws; and/or (iv) any other things that, on a reasonable and
objective basis, shall be prejudicial or have an adverse effect on theprovision
of the KOMEPS Mobile Payment Service or to KOMEPS (hereinafter collectively
referred toas “Material Change(s)”).
</p>
<h5>6. Change Notice</h5>
<p>
    6.1. KOMEPS shall be entitled to change, vary or modify the terms and conditions herein
    from time to time and shall be made by issuance of an updated version of this
    Agreement either on the portal available to the Merchant or by way of service of
    notice in accordance to the terms and conditions herein at least twenty-one (21)
    days before the said change, variation or modification comes into effect. The Merchant herein agrees and undertakes that any continued usage of the KOMEPS
    Mobile Payment Service shall constitute an agreement to such changes or
    modification.
</p>
<h5>7. Intellectual Property Rights</h5>
<p>7.1. For the purposes hereof, the term “Intellectual Property” shall mean all intellectual
    property and proprietary rights, including all present and future rights conferred by
    statutes, common law or equity in or in relation to any copyright, trademark, trade
    name, trade logo, trade slogans, service mark, industrial design, patent, layout
    design of integrated circuit, business method, domain name, trade secret,
    promotional material, software, algorithms, mask works, branding and any other
    intellectual property rights in any field or industry. <br> 7.2. The Parties hereby acknowledge that each party remains the sole owner of the
    Intellectual Property respectively owned by the Parties at the commencement of this
    Agreement. Each Party hereto shall grant to the other Party a non-exclusive and
    non- transferable royalty free (except to the extent any third party licence fees are
    payable by the relevant licensor) licence to use the Intellectual Property in connection
    with the performance of the Parties<span>&#39;</span> respective obligations hereunder during the
    Term provided however that neither party is permitted to transfer, assign or sublicense any of the rights in relation to the Intellectual Property of the other Party, to
    any person not a party to this Agreement. Neither Party may use the other Party<span>&#39;</span>s
    Intellectual Property rights except as authorised by this Agreement. <br>7.3. All Intellectual Property developed in the course of this Agreement shall belong to
    KOMEPS undisputedly. <br> 7.4. Upon the termination of this Agreement, KOMEPS and the Merchant shall, and/or
    shall procure that its respective employees, servants and agents immediately cease
    use of the Intellectual Property; and within thirty (30) Business Days return to the
    other, or if the other requests in writing, destroy all copies of the Intellectual Property
    and any documentationprovided by the other in its possession, custody or control. <br> 7.5. The obligation with regards to the Intellectual Property herein shall continue
    notwithstanding the termination or expiry of this Agreement.
</p>

<h5>8. Cooperation For Compliance with The Laws</h5>
<p> 8.1. The Merchant acknowledges that KOMEPS is obliged to comply with various
financial and other laws and the Merchant hereby permits KOMEPS to conduct
checks, audits, or investigation into the history of the Transactions carried out by the
Merchant (together with any other relevant records and information) as part of
KOMEPS<span>&#39;</span>s compliance with, in particular, the Anti-Money Laundering Anti-Terrorism
Financing and Proceeds of Unlawful Activities Act 2001, Financial Services Act 2013
(Act 758), Guideline on Electronic Money (E-money) issued by Bank Negara
Malaysia, and with the Laws and Government Authorities generally. <br> 8.2. The Merchant agrees to provide all necessary cooperation to KOMEPS to ensure
compliance with the Laws and to investigate any suspected illegal, fraudulent,
suspicious, or improper activity. <br> 8.3. In addition, the Parties undertake to comply with all other Laws as may be
applicable.
</p>
<h5>9. Taxes</h5>
<p>9.1. All payments required by this Agreement are exclusive of any taxes (including,
    without limitation, country, federal, provincial, state, and local taxes), duties, levies,
    or assessments. The Merchant shall be solely responsible for the payment of such
    taxes, duties, levies, or assessments imposed upon the Company or the Merchant
    in connection with this Agreement. The Merchant shall make payments tothe
    Company free and clear of, and without reduction for any withholding or other
    taxes. Any suchtaxes imposed on payments to the Company shall be the
    Merchant<span>&#39;</span>s sole responsibility and theMerchant shall provide such evidence to
    establish that such taxes have been paid upon request bythe Company.
</p>
<h5>10. Default & Termination</h5>
<p> Termination of Convenience <br> 10.1. Either Party may elect to terminate this Agreement without liability and without
    assigning any reason whatsoever by issuing to the other Party written notice in
    advance no less than forty-eight (48) hours, however, such termination shall not
    affect the rights and/or liabilities already accruing to either Party up to the date of
    termination. <br> Events of Default <br> 10.2. Without prejudice to other termination rights under this Agreement, the occurrence
    of any of the following events shall constitute a default (hereinafter referred to as
    “Default”) of this Agreement: <br> i. a Party commits a breach of any provisions of this Agreement and the breach is not
    remediable or fails to remedy such breach within thirty (30) days after receipt of
    written notice from the non-defaulting Party of such breach; <br>
    ii. a Party becomes insolvent or is wound-up or files or has a petition filed against it for
    its insolvency or winding-up or becomes unable to pay its debts generally as they
    fall due or makes a general assignment or arrangement or scheme of compromise
    with or for the benefit of its creditors or a liquidator, receiver, judicial manager,
    trustee, administrator, agent or similar officer is appointed for the defaulting Party or
    over all or a material part of the assets of the defaulting Party; or <br>
    iii. a Party is dissolved and goes into liquidation either compulsorily or voluntarily, which
    in the case of voluntary dissolution, an exception is made for reconstruction or
    amalgamation approved by the other Party (which approval shall not be
    unreasonably withheld); <br>
    iv. a Party ceases or threatens to cease to carry on the whole or any substantial part of
    its business other than in the course of reconstruction or amalgamation approved by
    the other Party (which approval shall not be unreasonably withheld); or <br>
    v. a Party violates, fails or refuses to comply with the Laws, direction of any
    Government Authority, or the order of a court or tribunal having competent
    jurisdiction over the defaulting Party and such default is not remediable or not
    remedied within thirty (30) days after receipt of written notice from the non-defaulting
    Party of such default. <br> Consequences of Default <br> 10.3. If the Default is not remediable or not remedied within the time frames specified in
    Clause 10.2 above, the non-defaulting Party shall be entitled to forthwith terminate <br> this Agreement by issuing a written notice to that effect and the following
    consequences shall ensue: <br>
    i. all rights and obligations of the Parties shall cease to have any further effect and
    none of the Parties shall have any claims against the others for costs, damages,
    compensation or otherwise save in respect of any right of action already accrued
    toany of the Parties in respect of any breach, non-observance or non-performance
    or repudiation of any of the provisions of this Agreement by the other Party occurring
    prior to such termination or out of which such termination shall have arisen; and <br>
    ii. immediately return to KOMEPS all QR Code standees and all promotional marketing
    material supplied by KOMEPS.
</p>
<h5>11. Dispute Resolution</h5>
<p>11.1. Any dispute shall in so far as it is possible be amicably settled, by mutual
    consultation and consent between the Parties and in this regard, the Parties shall be
    obliged to attempt a good faith resolution for a minimum period of thirty (30) days
    from the date of the first of such attempts (by the issuance of a notice from either
    Party to that effect) before resorting to resolution through any legally binding forum
    or other methods. <br>
    11.2. For the avoidance of doubt, Clause 11.1 above shall not prejudice either Party<span>&#39;</span>s
    right to terminate this Agreement as provided in any other provision herein and the
    obligation to attempt an amicable settlement shall not have the effect of suspending
    any time frames herein. <br><u>Disputed Invoices</u><br>11.3. If an invoiced Party, in good faith, disputes the accuracy of the amount invoiced, the
    invoiced Party shall issue a written notice to the invoicing Party at least seven (7) days
    prior to the date such invoice shall fall due for payment with details of the amount
    disputed and reasons why the amount is incorrect together with supporting
    documentation. The invoiced Party shall nevertheless, in good faith pay, any undisputed
    amounts as it falls due and the Parties shall attempt an amicable resolution within thirty
    (30) days from the date of the issuance of the aforementioned written notice mutatis
    mutandis in accordance with Clause 11.1. <br>
    11.4.Upon the expiry of the time frame in Clause 11.1, either Party may refer the dispute or
    difference to be settled for mediation by a mediator mutually agreed upon in writing by
    the Parties, failing which, the Disputed Invoice or claim shall be referred to by the Parties
    in the Malaysian Court.</p>
<h5>12. Liability</h5>
<p>
    12.1.KOMEPS shall not be liable for any indirect, incidental, special, consequential or
exemplary damages, including but not limited to damages for loss of profits, revenue,
opportunity, business, goodwill, use, data or other intangible losses (even if KOMEPS
has been advised or was aware of the possibility of such damages), resulting from: <br>
i. The use or the inability to use any of the KOMEPS E-Wallet, Card Payment, and
Mobile Payment Services; <br>
ii. Statements or conduct of any third party on any of the KOMEPS E-Wallet, Card
Payment, and Mobile Payment Services; <br>iii. Unauthorised access to or alteration or the Merchant<span>&#39;</span>s transmissions or data; and <br>
iv. any other matter relating to the KOMEPS E-Wallet, Card Payment, and Mobile
Payment Services. <br> 12.2. KOMEPS shall not be liable for any delay or failure in relation to the availability and
access of the KOMEPS E-Wallet, Card Payment, and Mobile Payment Services where
such failure or delay is outside KOMEPS<span>&#39;</span>s reasonable control (including without
limitation, failures or delays associated with electronic communication network faults).
In the event of any unplanned downtime or the inability of the Merchant to use the
KOMEPS E-Wallet, Card Payment, and Mobile Payment Services, the Merchant shall
not claim recourse against KOMEPS for any direct or indirect losses suffered by the
Merchant.
</p>
<h5>13. Confidentiallity and Disclosing</h5>
<p>13.1.Each Party undertakes to the other Party to: <br>
    i. not to use or divulge or communicate the Confidential Information to any person
    other than to its related corporations (as defined under the Companies Act 2016)
    and its related corporations<span>&#39;</span> officers, employees, auditors, solicitors and other
    professional advisors of such Party on a <span>&#39;</span>need to know<span>&#39;</span> basis; use the Confidential
    Information solely for the purpose of carrying out its functions herein and not
    utilize the Confidential Information for any purposes other than specified in this
    Agreement. <br> 13.2.The restrictions on disclosure of Confidential Information shall not apply to
    information: <br>
    i. which was or becomes public knowledge without the breach of the Receiving
    Parties<span>&#39;</span> obligations hereunder; or <br>
    ii. which was known to the Party prior to receipt from the other Party; or <br>
    iii. which was rightfully acquired by the Receiving Party from a third party without
    restriction on disclosure or use; or <br>
    iv. which was required to be disclosed by an order from a competent court of law by
    law, by any regulatory authority having jurisdiction over the Receiving Party; or <br>
    v. the disclosure of which has been approved in writing by the Disclosing Party. <br> 13.3.On request from a Disclosing Party, the other Party (“Recipient Party”) shall forthwith
    return to the Disclosing Party any Confidential Information which the Disclosing Party
    had previously supplied to the Recipient Party. Where such Confidential Information
    cannot for any reason be returned to the Disclosing Party, then the Recipient Party
    shall destroy such Confidential Information in such manner as the Disclosing Party
    shall prescribe.
</p>
<h5>14. Representations And Warranties</h5>
<p>
    14.1.Each Party represents and warrants to and for the benefit of the other as follows: <br>
    i. it is duly organised and validly existing under the laws of its jurisdiction of
    incorporation; <br>
    ii. it has (and will maintain) the power, capacity, right, authorization and has taken <br>
    all necessary action (where applicable) to enter into, exercise its rights and
perform and comply with its obligations under this Agreement; <br>
iii. this Agreement constitutes its legal, valid and binding obligations, enforceable in
accordance with the terms hereof; <br>
iv. its entry into, exercise of its rights and/or performance or compliance with its
obligations under this Agreement do not and will not (a) violate or contravene its
constitutive documents, (b) any agreement to which it is a Party to or is otherwise
bound, (c) any law or regulation or (d) any court, arbitral or administrative
judgment or order; <br>
v. each signatory to this Agreement is duly authorised to sign this Agreement on
behalf of the Party identified; <br>
vi. it has (and will maintain) adequate facilities (including staff training, internal
controls, and technical equipment) to: (a) comply with its data protection and
confidentiality obligations hereunder; and (b) to fulfil its obligations hereunder
generally, including, but not limited to, obligations that are technical in nature; and <br>
vii. to co-operate and collaborate with each other in the all matters under this
Agreement. <br> 14.2.The Merchant warrants and represents that: <br> (i) where the Merchant is a registered
legal entity, the Merchant shall maintain at least one (1) director (in the case of a
company) or one (1) principal (in the case of partnerships, enterprise and other
registered business entities) that shall reside or be domiciled in Malaysia; <br> (ii) it shall
deliver its goods and services to the Users (and its customers generally) without delay
and conduct its business in accordance with the prevailing or equivalent industry
business and ethical standards; <br> (iii) the goods and services offered by the Merchant
complies with the Laws and the applicable laws in the jurisdiction in which the goods
and services are offered; <br> (iv) at all times it has and shall maintain all requisite licences,
permits, and other approvals necessary to engage in the advertising and/or provision
of its goods and services as envisaged hereunder; and <br> (v) it does not and will not
receive funds from any illegal, fraudulent, deceptive, or manipulative practice and it is
not sending or receiving funds to or from an illegal source. <br> 14.3.Where the Merchant is an aggregator or otherwise is reselling any goods or services
of any third parties, the Merchant represents and warrants that it has all the necessary
authority, right, and/or licence to resell the same as envisaged in this Agreement.
</p>
<h5>15. Indemnity</h5>
<p>
    15.1.Without prejudice to the other rights and remedies available in this Agreement or at
    law but subject to Clause 12 (Liability), each Party shall be liable for and agree to
    indemnify and keep the other Party fully indemnified always from and against all
    claims, actions proceedings, losses, cost and expenses (including legal fees) which
    the innocent Party may suffer or incur, arising from the defaulting Party<span>&#39;</span>s acts, errors,
    negligence, breach of representations and warranties, and/or omissions or actions
    otherwise related to this Agreement.
</p>
<h5>16. Force Majeure</h5>
<p>
    16.1.None of the Parties will be liable in any manner for failure to perform or delay in
    performing all or any part of this Agreement which is directly or indirectly due to any
    event of Force Majeure. <br> 16.2.A Party claiming relief by reason of an event of Force Majeure shall: <br>
    i. as soon as practicable give notice to the other Party of the event or circumstance
    alleged to constitute an event of Force Majeure, which notice will include full
    information about the event or circumstance and provide statement of the steps
    and the time estimated to be necessary to remove such failure; <br>
    ii. take all reasonable practicable steps to rectify the event or circumstance causing
    the failure and to minimise the damage and loss whatsoever; and <br>
    iii. give notice of the resumption of the performance under this Agreement once
    performance is resumed (if possible). <br> 16.3.A Party claiming relief from its obligations by reason of event of Force Majeure, wholly
    or in part will be relieved of its obligations under this Agreement to the extent only for
    as long as the occurrence or circumstance constituting the event of Force Majeure
    continues. <br> 16.4.An event of Force Majeure does not relieve a Party from liability for an obligation
    which arose before the occurrence of that event, nor does that event affect the
    obligation to pay money in a timely manner which matured prior to the occurrence of
    that event. <br> 16.5.Where the event(s) constituting the event of Force Majeure continues for a period of
    more than one hundred and twenty (120) days but less than two hundred and seventy
    (270) days, the Parties hereto will consult each other on any remedial action that may
    be taken to alleviate any hardship on both Parties. In the event the event of Force
    Majeure exceeds two hundred and seventy (270) days either Party shall be entitled to
    terminate this Agreement by giving thirty (30) days written notice.
</p>
<h5>17. Notices</h5>
<p>
    17.1.All notices, requests, demands and other communications required or permitted to be
    given or made under this Agreement or in connection therewith shall be given to
    KOMEPS and/or the Merchant following the details provided respectively and shall be
    deemed duly given: (i) if made in writing and delivered personally, on the date of
    delivery; (ii) if sent by prepaid registered post or a recognized “next-day” courier
    service, on the third (3rd) Business day; (iii) if by sent fax, when transmitted and
    provided receipt is confirmed; or (iv) if given by electronic mail, when such electronic
    mail is transmitted. <br> 17.2.Either Party may notify the other Party in writing of a change to its name, address,
    addressee or facsimile number for the purpose of this Section provided that such
    notification shall only be effective on: (i) the date specified in the notification as the
    date on which the change is to take effect; or (ii) if no date is specified or the date
    specified is less than seven (7) days after the date on which notice is given, the date
    falling seven (7) days after notice of any such change has been given. <br> 17.3.The Merchant may email KOMEPS at kamil@komeps.com for any additional
    information, enquiries or complaints.
</p>
<h5>18. Variations</h5>
<p>
    18.1.The Merchant acknowledges that (among others) to ensure the improvement, smooth and efficient provision of KOMEPS E-Wallet, Card Payment, and Mobile Payment
    Service provided, KOMEPS shall have the right and discretion to make such
    amendments and modifications as it deems necessary to: <br> i. and/or new trade the procedures and processes applicable to D8P App and/or
    Merchant Registration Form (i.e. procedure for registration and activation of
    Merchant, etc.); and <br>
    ii. the trade or service names used in relation to KOMEPS E-Wallet, Card Payment,
    and Mobile Payment Service provided as referred to in these Terms and
    Conditions. Notwithstanding the same, the Merchant hereby agrees that pending
    actual changes being affected to these Terms and Conditions, the said Terms and
    Conditions shall nevertheless continue to be applicable to KOMEPS E-Wallet,
    Card Payment, and Mobile Payment Service provided whereby the amended or
    modified procedures and processes and/or new trade or services names shall be
    deemed to replace the previous procedures and processes or services names,
    accordingly.
</p>
<h5>19. Law and Jurisdiction</h5>
<p>
    19.1.The Laws of Malaysia shall govern these Terms and Conditions and the Merchant
    hereby consent and submit to the exclusive jurisdiction and venue of the courts in
    Malaysia in all disputes arising out of or relating to the use of KOMEPS E-Wallet, Card
    Payment, and Mobile Payment Service provided. The above governing law and place
    of adjudication of dispute shall apply notwithstanding the access location of the
    Merchant.
</p>
