<div class="container-fluid quicklinkbg greenbg-height-240">
  <div class="row no-gutters justify-content-center">
    <div class="col-12 col-xl-9">
      <div class="container-fluid p-0 menu-grid">
        <div class="row no-gutters justify-content-center">
          <div class="col-12 col-xl-9 titlebg">BUYNEAR</div>
        </div>
        <div
          class="row no-gutters mt-2 mt-xl-4 pb-xl-4 mb-3 mb-xl-5 flex-valign-75"
        >
          <div
            class="col-3 flex-align-center flex-column border-right-white"
          >
            <div class="height-60 text-center">
              <img
                class="max-width-60"
                src="assets/icons-img/icon-buynear2.png"
              />
            </div>
          </div>
          <div class="col-9 pl-3 color-white font-size-15">
            Funds residing in my D-8P Acc. MYR e-Wallet will be used to buy remotely from immediate vicinity via the D-8P Vicinity Marketplace.
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12">
            <img
              class="mw-100 mb-3 d-flex margin-zero-auto"
              src="assets/icons-img/linewhite2.png"
            />
          </div>
        </div>
        <!-- Content title row -->
        <div class="row no-gutters flex-valign-75 mb-md-3">
          <div class="col-2 flex-align-center flex-column">
            <div class="text-center">
              <img
                class="max-width-60"
                src="assets/icons-img/d8p-apple-touch.png"
              />
            </div>
          </div>
          <div class="col-10 pl-3 color-white font-size-15">
            <div class="row no-gutters">
              <div class="col-6">
                <div class="d8p-normal-text font-size-17 font-arial color-white pt-1">
                  <div>
                    <span class="text-shadow font-weight-bold"
                      >D-8P</span
                    >
                    Vicinity 
                  </div>
                  <div class="pt-1">Marketplace</div>
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex justify-content-center">
                  <button class="d8p-btn-gray border-left-rad-10 min-height-50" routerLink="/buynear-cart-details">
                    <span class="cart-count">5</span>
                    <img class="max-width-25-px " src="assets/icons-img/cart.png"/>
                  </button>
                  <button class="d8p-btn-black border-right-rad-10" routerLink="/buynear-qr-code">
                    <img class="max-width-25-px" src="assets/icons-img/cart-checkout.png"/>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>